<?php
              // some helpers
              $_helper = $this->helper('catalog/output');
              $storeId = Mage::app()->getStore()->getId();
              $catalog = $this->getLayout()->createBlock('catalog/product_list')->setStoreId($storeId);
              $productCount = 30;
$visibility = array( 
                    Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH, 
                    Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                );
$attributeInfo = Mage::getResourceModel('eav/entity_attribute_collection')
              ->setCodeFilter('magikfeatured')
              ->getFirstItem();
  $attribute_info = $attributeInfo->getData();
 
  if($attribute_info['attribute_code'] == 'magikfeatured'){
$collection = Mage::getResourceModel('reports/product_collection') 
                      ->addAttributeToSelect('*')     
                      ->setStoreId($storeId) 
                      ->addStoreFilter($storeId)     
                      ->addAttributeToFilter('visibility', $visibility)
                      ->addAttributeToFilter('magikfeatured', true) 
                      ->setOrder('updated_at', 'desc')
                      ->addAttributeToSelect('status') 
                      ->setPageSize($productCount);
Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($collection);
$collection->addFieldToFilter(array(array('attribute' => 'magikfeatured', 'eq' => 1)));
$collection->addFieldToFilter(array(array('attribute' => 'fresh_express', 'eq' => 0)));

      /*  To display product by category id */
      if ($categoryId = $this->getData('category_id')) {
          $category = Mage::getModel('catalog/category')->load($categoryId);
          $collection->addCategoryFilter($category);
      }

      /* Display Sold Product Number */
      /*for ($i = 0; $i < 48; $i++){
          echo rand(10, 20) . ", ";
      }*/

      $randomAdd = [0, 11, 14, 19, 17, 18, 19, 18, 10, 18, 10, 11, 16, 19, 17, 17, 20, 14, 14, 13, 13, 12, 11, 18, 16, 17, 13, 11, 19, 17, 20, 20, 18, 15, 15, 14, 18, 20, 19, 20, 13, 15, 16, 18, 19, 19, 17, 14];
      $soldNumber = $randomAdd[0];

      $hour = date('H');
      $minus = date('i');

      $timeNumber = $hour * 2;
      if($hour == 0 || $hour == 24) $timeNumber = 0;
      if($minus >= 30){
          $timeNumber += 1;
      }

      for ($i = 0; $i < $timeNumber; $i++){
          $soldNumber += $randomAdd[$i];
      }
?>

<div class="slider-items-products">
  <div class="new_title center">
    <h2><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('featured-products-title')->toHtml(); ?> (<?php echo $soldNumber; ?>)</h2>
  </div> <!--new_title center-->

  <div id="featured-slider" class="product-flexslider hidden-buttons">
      <!--<div class="owl-controls clickable">
          <div class="owl-buttons">
              <div class="owl-prev"><a class="flex-prev"></a></div>
              <div class="owl-next"><a class="flex-next"></a></div>
          </div>
      </div>-->
    <div class="slider-items">

<?php             // if no products are currently featured, display some text
              if (!$collection->count()) :
?>
      <p class="note-msg"><?php echo $this->__('There are no featured products at the moment.') ?></p>
      <?php else : ?>

        <?php
                $_collectionSize = $collection->count();
                $_columnCount = 4;
                $i = 0;
               
                foreach ($collection as $_product) :
                        $_product = Mage::getModel('catalog/product')->setStoreId($storeId)->load($_product->getId());

        ?>
        <?php if ($i++%$_columnCount==0): ?>            
        <?php endif ?>  
  <div class="item">
   <div class="col-item">
      <div class="item-img">
        <div class="item-img-info">
           <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image') ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
           <?php echo $this->helper('astrabootstrapsettings')->getLabel($_product);  ?>
           <div class="item-box-hover">
              <div class="box-inner">
                 <div class="product-detail-bnt">
                    <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_quickview/enable')==1){?>
                       <a data-fancybox-type="ajax" onclick="callQuickView('<?php echo Mage::getUrl('astrabootstrapsettings/index/view/id/'.$_product->getId());?>');" title="<?php echo $this->__('Quick View') ?>" class="button detail-bnt"><span><?php echo $this->__('Quick View')?></span></a>                    
                    <?php } ?>                       
                 </div> <!--product-detail-bnt-->
              </div> <!--box-inner-->
           </div> <!--item-box-hover-->
        </div> <!--item-img-info-->
      </div> <!--item-img-->

      <div class="item-info">
        <div class="info-inner">
          <div class="item-title">
             <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                  <?php $prod_name = $this->htmlEscape($_product->getName()) ; 
                  if(strlen($prod_name) > 30) {echo substr($prod_name,0,30)."...";}else {echo $prod_name;}?>
             </a>
          </div> <!--item-title-->
          <div class="item-content">
            <div class="item-price"><?php echo $this->getPriceHtml($_product, true) ?></div>
			<?php if($_product->isSaleable()): ?>
              <button type="button"  title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
            <?php else: ?>
              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
          </div> <!--item-content-->
        </div> <!--info-inner-->
        <div class="actions">
         <span class="add-to-links">            
			<?php if($_product->getPurchaseFromState()): ?>
				<span class="purchase-from-state"><?php echo $_product->getPurchaseFromState(); ?></span>
			<?php endif;?>
         </span> <!--add-to-links-->
        </div> <!--actions-->
      </div> <!--item-info-->                                   
   </div> <!--col-item-->
</div> <!--item -->   
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>            
            <?php endif ?>      
                <?php endforeach ?> 
      <?php endif ?>  <!--Endif !$collection->count() -->
    </div> <!-- slider-items slider-width-col4 -->
  </div> <!-- featured-slider -->
</div> <!--slider-items-products-->
<?php } ?> <!-- chk attribute_code -->



<div id="mgkquickview1">
<div id="magikloading1" style="display:none;text-align:center;margin-top:400px;"><img src="<?php echo $this->getSkinUrl('images/mgkloading.gif');?>" alt="loading">
</div></div>
<script type="text/javascript">
function callQuickView(qurl) { 
    jQuery('#mgkquickview1').show();
    jQuery('#magikloading1').show();
    jQuery.get(qurl, function(data) {
      jQuery.fancybox(data);
      jQuery('#magikloading1').hide();
jQuery('#mgkquickview1').hide();
    });
 }
 
</script>