
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
	$_productCollection=$this->getLoadedProductCollection();

	$cat_id = Mage::getModel('catalog/layer')->getCurrentCategory()->getId();
	$cat_Name = Mage::getModel('catalog/layer')->getCurrentCategory()->getName();
	$includeCategories = array(14, 100, 148, 149, 150, 151, 152, 26, 101, 102, 103, 104, 105, 106, 107, 27, 108, 109, 110, 111, 112, 28, 29, 30, 31, 113, 114, 134, 140, 141, 142, 146);
	if (in_array($cat_id, $includeCategories)){
		$_productCollection = Mage::getResourceModel('catalog/product_collection')
	   ->addAttributeToFilter('fresh_express', array('eq' => 1))
	   ->addAttributeToSelect('*')
	   ->addCategoryFilter(Mage::getModel('catalog/category')->load($cat_id))
	   ->setVisibility(
		   Mage::getSingleton('catalog/product_visibility')->getVisibleInCatalogIds()
	   );
	}else{
		$_productCollection = Mage::getResourceModel('catalog/product_collection')
	   ->addAttributeToFilter('fresh_express', array('eq' => 0))
	   ->addAttributeToSelect('*')
	   ->addCategoryFilter(Mage::getModel('catalog/category')->load($cat_id))
	   ->setVisibility(
		   Mage::getSingleton('catalog/product_visibility')->getVisibleInCatalogIds()
	   );
	}
	
   
    $_helper = $this->helper('catalog/output');
    $this->setData('column_count',3);
?>
<?php if(!$_productCollection->count()): ?>
<?php
$empty_category_block = Mage::getModel('cms/block')->load('astrabootstrap_empty_category');
 if($empty_category_block->getIsActive()){
     echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_empty_category')->toHtml();
 } else { ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php } ?>
<?php else: ?>


<!-- BEGIN CATEGORY PRODUCTS -->
<div class="category-products">
  <?php echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>

    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item">
        <!-- BEGIN PRODUCT IMAGE -->
          <div class="product-image">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >
              <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" class="small-image" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" width="230" />             
            </a>
            <?php// echo $this->helper('astrabootstrapsettings')->getLabel($_product);  ?>
          </div> <!--product-image-->
          <!-- BEGIN PRODUCT SHOP -->
          <div class="product-shop">
            <h2 class="product-name">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
            </h2>
            
            <?php echo $this->getPriceHtml($_product, true) ?>
                 <?php  if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                 <?php else: ?>
                        <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                 <?php  endif;  ?>
             
            <div class="desc std">
              <p><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></p>
              <p><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a></p>
            </div> <!--desc std-->
            
            <!-- BEGIN ACTIONS -->
            <div class="actions"> 
            <?php if($_product->isSaleable()): ?>
                   <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart ajx-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
              <?php else: ?>
                   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
              <?php endif; ?>            
              <span class="add-to-links">
                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                    <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="button link-wishlist" title="<?php echo $this->__('Add to wishlist');?>"><span><?php echo $this->__('Add to wishlist');?></span></a>
                <?php endif; ?>
                <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                    <a href="<?php echo $_compareUrl ?>" class="button link-compare" title="<?php echo $this->__('Add to compare');?>"><span><?php echo $this->__('Add to compare');?></span></a>
                <?php endif; ?>
              </span> <!--add-to-links-->
            </div> <!--actions-->
          </div> <!--product-shop-->
        </li>
    <?php endforeach; ?>
    </ol>

    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
   

  <ul class="products-grid">       
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>

        <?php endif ?>
		<?php
			$originalPrice = $_product->getRrpstore();
			$finalPrice = $_product->getFinalPrice();
			$percentage = 0;
			if($originalPrice):
				if ($originalPrice > $finalPrice) {
					$percentage = number_format(($originalPrice - $finalPrice) * 100 / $originalPrice, 2);
				}
			endif;
		?>
            <li class="item col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                      </a>  
                      <?php echo $this->helper('astrabootstrapsettings')->getLabel($_product);  ?>
                        <div class="item-box-hover">
                          <div class="box-inner">
                                    
                            <div class="product-detail-bnt">   
                               <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_quickview/enable')==1){?>
                                  <a data-fancybox-type="ajax" onclick="callQuickView('<?php echo Mage::getUrl('astrabootstrapsettings/index/view/id/'.$_product->getId());?>');" title="<?php echo $this->__('Quick View') ?>" class="button detail-bnt"><span><?php echo $this->__('Quick View')?></span></a>                    
                               <?php } ?>                           
                            </div><!--product-detail-bnt-->

                          <!-- BEGIN ACTIONS -->
                          
                          </div><!--box-inner-->
                        </div><!--item-box-hover-->
                      </div> <!-- item-img-info-->
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                         <a class="" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                            <?php $prod_name = $this->htmlEscape($_product->getName()) ; 
                              if(strlen($prod_name) > 120) {echo substr($prod_name,10,160)."...";}else {echo $prod_name;}?>
                         </a>                  
                        
                         </div><!--item-title-->
                         <div class="item-content">
                           <div class="item-price"> 
						   <?php if ($percentage): ?>
							<span class="list-precent"><?php echo 'SAVE: '.$percentage.'%'; ?></span>
							<?php endif; ?>
                           <?php echo $this->getPriceHtml($_product, true) ?>    
                           </div><!--item-price-->
                         </div><!--item-content-->                         

                       </div><!--info-inner-->

                       <div class="actions">  
           
                          <span class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to wishlist');?>"><span><?php echo $this->__('Add to wishlist');?></span></a>
                            <?php endif; ?>
                            <?php if($_product->isSaleable()): ?>
                                  <button title="Add to Cart" type="button" class="button btn-cart" data-original-title="Add to Cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart')?></span></button>
                               <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                               <?php endif; ?>

                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to compare');?>"><span><?php echo $this->__('Add to compare');?></span></a>
                            <?php endif; ?>
                          </span> <!--add-to-links-->
                           
                              
                        </div><!--actions-->
                    </div> <!--item-info-->
                    
              </div>
             
            </li>

        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>

        <?php endif ?>
         
        <?php endforeach ?>
  </ul>        
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
</div> <!--category-products-->



<?php endif; ?>

<div id="mgkquickview">
<div id="magikloading" style="display:none;text-align:center;margin-top:400px;"><img src="<?php echo $this->getSkinUrl('images/mgkloading.gif');?>" alt="loading">
</div></div>
<script type="text/javascript">
function callQuickView(qurl) { 
    jQuery('#mgkquickview').show();
    jQuery('#magikloading').show();
    jQuery.get(qurl, function(data) {
      jQuery.fancybox(data);
      jQuery('#magikloading').hide();
jQuery('#mgkquickview').hide();
    });
 }
 
</script>