<?php
              // some helpers
              $_helper = $this->helper('catalog/output');
              $storeId = Mage::app()->getStore()->getId();
              $catalog = $this->getLayout()->createBlock('catalog/product_list')->setStoreId($storeId);
              $productCount = $this->getData('num_products');

$visibility = array( 
                    Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH, 
                    Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                );
$attributeInfo = Mage::getResourceModel('eav/entity_attribute_collection')
              ->setCodeFilter('magikrecommended')
              ->getFirstItem();
  $attribute_info = $attributeInfo->getData();
 
  if($attribute_info['attribute_code'] == 'magikrecommended'){
$collection = Mage::getResourceModel('reports/product_collection') 
                      ->addAttributeToSelect('*')     
                      ->setStoreId($storeId) 
                      ->addStoreFilter($storeId)     
                      ->addAttributeToFilter('visibility', $visibility)
                      ->addAttributeToFilter('magikrecommended', true) 
                      ->setOrder('updated_at', 'desc')
                      ->addAttributeToSelect('status') 
                      ->setPageSize($productCount);
Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($collection);
$collection->addFieldToFilter(array(array('attribute' => 'magikrecommended', 'eq' => 1)));

/*  To display product by category id */
if($categoryId=$this->getData('category_id')){
      $category = Mage::getModel('catalog/category')->load($categoryId);
      $collection->addCategoryFilter($category);
    } ?>

<div class="pro-recommend col-xs-12 col-md-12 col-lg-6 wow bounceInLeft animated">
  <div class="new_title center">
    <h2><span><?php echo $this->__('Recommended') ?></span></h2>
  </div> <!--new_title center-->

<?php             // if no products are currently recommended, display some text
              if (!$collection->count()) :
?>
      <p class="note-msg"><?php echo $this->__('There are no recommended products at the moment.') ?></p>
      <?php else : ?>

  
        <?php
                $_collectionSize = $collection->count();
                $_columnCount = 3;
                $i = 0;
               
                foreach ($collection as $_product) :
                        $_product = Mage::getModel('catalog/product')->setStoreId($storeId)->load($_product->getId());

        ?>
        <?php if ($i++%$_columnCount==0): ?>            
        <?php endif ?>  
  <div class="item">
   <div class="col-item">
      <div class="item-img">
        <div class="item-img-info">
           <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image') ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
           <?php echo $this->helper('astrabootstrapsettings')->getLabel($_product);  ?>
           <div class="item-box-hover">
              <div class="box-inner">
                 <div class="product-detail-bnt">
                    <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_quickview/enable')==1){?>
                       <a data-fancybox-type="ajax" onclick="callQuickView('<?php echo Mage::getUrl('astrabootstrapsettings/index/view/id/'.$_product->getId());?>');" title="<?php echo $this->__('Quick View') ?>" class="button detail-bnt"><span><?php echo $this->__('Quick View')?></span></a>                    
                    <?php } ?>                       
                 </div> <!--product-detail-bnt-->
              </div> <!--box-inner-->
           </div> <!--item-box-hover-->
        </div> <!--item-img-info-->
      </div> <!--item-img-->

      <div class="item-info">
        <div class="info-inner">
          <div class="item-title">
             <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                  <?php $prod_name = $this->htmlEscape($_product->getName()) ; 
                  if(strlen($prod_name) > 15) {echo substr($prod_name,0,15)."...";}else {echo $prod_name;}?>
             </a>
          </div> <!--item-title-->
          <div class="item-content">
            <?php
                        $summaryData = Mage::getModel('review/review_summary')
                                ->setStoreId($storeId)
                                ->load($_product->getId());
                        if($summaryData->getRatingSummary()){ ?>
                            <div class="ratings">
                                <div class="rating-box">
                                        <div class="rating" style="width: <?php echo $summaryData->getRatingSummary().'%'; ?>"></div>
                                </div> <!--rating-box-->
                            </div> <!--ratings-->
                    <?php } else { ?>  
                            <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                    <?php } ?>
            <div class="item-price"><?php echo $this->getPriceHtml($_product, true) ?></div>
          </div> <!--item-content-->
        </div> <!--info-inner-->
        <div class="actions">
         <span class="add-to-links">
            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist');?>"><span><?php echo $this->__('Add to Wishlist');?></span></a>
            <?php if($_product->isSaleable()): ?>
              <button type="button"  title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
            <?php else: ?>
              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare');?>"><span><?php echo $this->__('Add to Compare');?></span></a>
         </span> <!--add-to-links-->
        </div> <!--actions-->
      </div> <!--item-info-->                                   
   </div> <!--col-item-->
</div> <!--item-->   
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>            
            <?php endif ?>      
                <?php endforeach ?> 
      

      <?php endif ?>  <!--Endif !$collection->count() -->
</div> <!--pro-recommend col-lg-6 wow bounceInLeft animated-->
<?php } ?> <!-- chk attribute_code -->

<div id="mgkquickview3">
<div id="magikloading3" style="display:none;text-align:center;margin-top:400px;"><img src="<?php echo $this->getSkinUrl('images/mgkloading.gif');?>" alt="loading">
</div></div>
<script type="text/javascript">
function callQuickView(qurl) { 
    jQuery('#mgkquickview3').show();
    jQuery('#magikloading3').show();
    jQuery.get(qurl, function(data) {
      jQuery.fancybox(data);
      jQuery('#magikloading3').hide();
jQuery('#mgkquickview3').hide();
    });
 }
 
</script>