<div class="col-main">
  <div class="row">
   
  <?php $_helper = $this->helper('catalog/output'); ?>
  <?php $_product = $this->getProduct(); ?>

  <div class="product-view" itemscope itemtype="http://schema.org/Product" itemid="#product_base">
    <script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    </script>
    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

    <div class="product-essential">

      <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

        <div class="product-img-box col-md-6 col-sm-6 col-xs-12">
          <?php echo $this->helper('astrabootstrapsettings')->getLabel($_product);  ?>
          <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="no-display">
          <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
          <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop col-md-6 col-sm-6 col-xs-12">
         <div class="product-name">
            <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
         </div> <!--product-name-->
            <div class="price-box-bottom">
                <span class="">Count</span>
                <span class="ic-bullet">&bull;</span>
                <?php echo $this->getPriceHtml($_product) ?>

                <?php echo $this->getChildHtml('alert_urls') ?>
                <?php echo $this->getChildHtml('product_type_data') ?>
                <?php echo $this->getChildHtml('bundle_prices') ?>
                <?php echo $this->getTierPriceHtml() ?>
                <?php /*echo $this->getChildHtml('extrahint') */?>
            </div>



        

<?php if (!$this->hasOptions()):?>
    <div class="product-details">
        <div class="add-to-box">
            <?php if($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                <?php endif; ?>
            <?php endif; ?>
            <?php echo $this->getChildHtml('addto') ?>
            <?php echo $this->getChildHtml('extra_buttons') ?>
        </div> <!--add-to-box-->
    </div>

<?php elseif (!$_product->isSaleable()): ?>                
  <?php echo $this->getChildHtml('addto') ?>                
<?php endif; ?>

<?php
$originalPrice = $_product->getRrpstore();
$finalPrice = $_product->getFinalPrice();
$percentage = 0;
if($originalPrice):
	if ($originalPrice > $finalPrice) {
		$percentage = number_format(($originalPrice - $finalPrice) * 100 / $originalPrice, 2);
	}
endif;
?>

<!-- Magik Social Share-->
<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("magik/socialbar/socialbar.phtml")->setBlockId(1)->toHtml(); ?>
<!-- Magik Social Share Close-->

<?php echo $this->getChildHtml('other');?>

<?php if ($_product->isSaleable() && $this->hasOptions()):?>
  <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
<?php endif;?>

<?php if ($_product->isSaleable() && $this->hasOptions()):?>
 <?php echo $this->getChildChildHtml('container2', '', true, true) ?>  
<?php endif;?>

</div> <!--product-shop-->
<!-- Detail page custom block -->
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_view_page_block')->toHtml() ?>
</form>
</div> <!--product-essential-->

<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(button, url) {
      if (this.validator.validate()) {
        var form = this.form;
        var oldUrl = form.action;

        if (url) {
         form.action = url;
       }
       var e = null;
       try {
        this.form.submit();
      } catch (e) {
      }
      this.form.action = oldUrl;
      if (e) {
        throw e;
      }

      if (button && button != 'undefined') {
        button.disabled = true;
      }
    }
  }.bind(productAddToCartForm);

  productAddToCartForm.submitLight = function(button, url){
    if(this.validator) {
      var nv = Validation.methods;
      delete Validation.methods['required-entry'];
      delete Validation.methods['validate-one-required'];
      delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                  if (methodName.match(/^validate-datetime-.*/i)) {
                    delete Validation.methods[methodName];
                  }
                }

                if (this.validator.validate()) {
                  if (url) {
                    this.form.action = url;
                  }
                  this.form.submit();
                }
                Object.extend(Validation.methods, nv);
              }
            }.bind(productAddToCartForm);
    //]]>
    </script>

  <div class="product-collateral">
    <!-- Tabs -->
    <?php //echo $this->getChildHtml('product_additional_data') ?>
      <div class="col-sm-8 left">
          <div class="new_title2 center">
              <h3>ABOUT THE PRODUCT</h3>
          </div>
          <?php echo $this->getChildHtml('description') ?>
          <div class="line-dotted"></div>
      </div>

      <div class="col-sm-4 right">
          <div class="box-additional">
              <?php if ($percentage): ?>
                  <div class="new_title2 center">
                      <!--<h3 class="title-you-save"><?php //echo $this->__('<span class="title-content">You save</span> %s per unit', $percentage . '%'); ?></h3>-->
                  </div>
				  <?php if($originalPrice):?>
                	<?php $_product->getData('retailoriginal');?> <?php $_product->getData('retailsize');?> 
					  <div class="type-price">
						<?php $retailoriginalValue = $_product->getData('retailoriginal'); ?>
						<?php $aussizemultiplierValue = floatval($_product->getData('aussizemultiplier')); ?>
						<?php if($aussizemultiplierValue): ?>
							<?php $auswarehousePrice = number_format($finalPrice, 0) / $aussizemultiplierValue; ?>
						<?php endif ;?>
						<?php if($_product->getData('retailsize')): ?>
							<?php if($retailoriginalValue): ?>
								<h3 class="title-type-price"><?php echo $this->__('RETAIL - '). Mage::helper('core')->currency($retailoriginalValue, true, false);?></h3>
							<?php endif; ?>
							<?php if($aussizemultiplierValue): ?>
							<h3 class="title-type-price"><?php echo $this->__('Auswarehouse - '). Mage::helper('core')->currency(number_format($auswarehousePrice, 2), true, false).'<span class="retailsize-value"> / '. $_product->getData('retailsize').'</span>';?></h3>
							<?php else: ?>
							<h3 class="title-type-price"><?php echo $this->__('Auswarehouse - '). Mage::helper('core')->currency($finalPrice, true, false).'<span class="retailsize-value"> / '. $_product->getData('retailsize').'</span>';?></h3>
							<?php endif ;?>
						<?php else: ?>
							<?php if($retailoriginalValue): ?>
								<h3 class="title-type-price"><?php echo $this->__('RETAIL - '). Mage::helper('core')->currency($retailoriginalValue, true, false);?></h3>
							<?php endif; ?>
							<?php if($aussizemultiplierValue): ?>
								<h3 class="title-type-price"><?php echo $this->__('Auswarehouse - '). Mage::helper('core')->currency(number_format($auswarehousePrice, 2), true, false).'<span class="retailsize-value"> / '. $_product->getData('retailsize').'</span>';?></h3>
							<?php else: ?>
								<h3 class="title-type-price"><?php echo $this->__('Auswarehouse - '). Mage::helper('core')->currency($finalPrice, true, false).'<span class="retailsize-value"> / '. $_product->getData('retailsize').'</span>';?></h3>
							<?php endif ;?>
						<?php endif; ?>						
					  </div>
				  <?php endif; ?>
                  <div class="container-save desc-extra">
					<span class="you-save-title">You save</span>
                      <div id="activeBorder" class="active-border">
                          <div id="circle" class="circle">								
                              <span class="prec"><?php echo $percentage; ?></span>
                              <span id="startDeg" class="90"></span>
                          </div>
                      </div>
                  </div>
              <?php endif; ?>
          </div>
          <div class="box-additional">
              <?php $why_shop_boxed = Mage::getModel('cms/block')->setStoreId(Mage::app()->getStore()->getId())->load('why_shop_boxed'); ?>
              <div class="new_title2 center">
                  <h3 class="title-content"><?php echo $why_shop_boxed->getTitle(); ?></h3>
              </div>
              <?php echo $why_shop_boxed->getContent(); ?>
          </div>
      </div> <!--col-sm-12-->
  </div> <!--product-collateral-->

  <div class="col-sm-12 products-also-bought">
      <div class="box-additional">
          <?php //echo $this->getChildHtml('related_products') ?>
          <?php echo $this->getChildHtml('upsell_products') ?>
      </div> <!--box-additional-->
  </div> <!--col-sm-12-->

   </div> <!--product-view-->
  </div> <!--row-->
</div> <!--col-main-->

