<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');

?>
<div class="product-image">
<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>" class ="cloud-zoom" id="zoom2" rel="position: 'inside' , showTitle: false, adjustX:-4, adjustY:-4">
    <?php
        $_img = '<img itemprop="image" id="image" src="'.$this->helper('catalog/image')->init($_product, 'image').'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image'); 
    ?>
</a> 
</div> <!--product-image-->

<?php  if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
 <div class="slider-items-products">
   <div id="more-views-slider1" class="product-flexslider hidden-buttons">
     <div class="slider-items slider-width-col3">
     <?php foreach ($this->getGalleryImages() as $_image): ?>
        <div class="item">
          <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); ?>" class="cloud-zoom-gallery" rel="useZoom: 'zoom2', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>' " title="<?php echo $_product->getName();?>">
            <img class="zoom-tiny-image" itemprop="image" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>"  />
          </a>
        </div>
     <?php endforeach; ?>   
   </div> <!--slider-items slider-width-col3-->
  </div> <!--product-flexslider hidden-buttons-->
 </div> <!--slider-items-products-->
</div> <!--more-views-->
<?php endif; ?>