<?php 
/* Top shopping Cart  */ 
?>
<?php 
	$cookies = Mage::getModel('core/cookie')->get('allexpress');
	Mage::getModel('core/cookie')->delete('updatecarts');
	Mage::getModel('core/cookie')->delete('addcarts');
	$updateCarts = Mage::getModel('core/cookie')->get('updatecarts');
	$addCarts = Mage::getModel('core/cookie')->get('addcarts');
	$countAus = 0;
	$countFresh = 0;
?>
<div class="top-cart-left">
  <div class="mini-cart">
  <div class="dropdown-toggle">
      <i class="icon icon-cart"></i>
      <a href="javascript:void(0)"><span> (<?php if(Mage::helper('checkout/cart')->getSummaryCount() > 1) { echo Mage::helper('checkout/cart')->getSummaryCount(); } elseif(Mage::helper('checkout/cart')->getSummaryCount() == 1) { echo "1"; }  else {echo "0"; } ?>) </span></a></div>
      <div>
      <div id="cart" class="<?php if($updateCarts || $addCarts): echo 'expanded'; endif; ?>">
         <?php $_items = $this->getItems() ?>
         <?php if(count($_items)): ?>
			<?php foreach($_items as $_item): ?>
				<?php if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 0):?>
					<?php $countAus += count($_item);?>
				<?php endif;?>
				<?php if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 1):?>
					<?php $countFresh += count($_item);?>
				<?php endif;?>		
			<?php endforeach; ?>
             <div class="cart-inner">
			 
                 <div class="cart-content-items">	
					<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
						<?php echo $this->getBlockHtml('formkey'); ?>
                     <ul id="cart-sidebar" class="mini-products-list <?php if($cookies){ echo "fresh-cart"; } ?>">
						 <?php if($countAus >0): ?>
							<div class="block-subtitle"><?php echo $this->__('YOUR BOX ORDER'.' ('. $countAus.')') ?></div>
							<p class="ship-desc"><?php echo $this->__('Items arrive via Auspost in 2-6 business days');?></p>
						<?php endif;?>
                         <?php foreach($_items as $_item): ?>
							<?php if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 0):?>
								<?php echo $this->getItemHtml($_item) ?>
							<?php endif;?>							
                         <?php endforeach; ?>
						 <?php if($countFresh >0): ?>
							<div class="block-subtitle"><?php echo $this->__('YOUR FRESH EXPRESS ORDER'.' ('. $countFresh.')') ?></div>
                             <p class="ship-desc"><?php echo $this->__('Box items hand delivered to your door - select delivery time at checkout');?></p>
						<?php endif; ?>
						 <?php foreach($_items as $_item): ?>
							<?php if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 1):?>
								<?php echo $this->getItemHtml($_item) ?>
							<?php endif;?>
                         <?php endforeach; ?>
                     </ul>	
                     <?php echo $this->getBlockHtml('formkey'); ?>
						<button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Order'); ?>" class="button btn-update"><?php echo $this->__('Update Order'); ?></button>
					</form>						 
                 </div>								 
                 <div class="checkout-controls-wrap">
                 <div class="checkout-controls <?php if($cookies){ echo "fresh-cart"; } ?>">
					<div class="type-shipping">
						<?php 
							$flag = false;
							$flagNormal = false;
							$priceInclVat = 0;
							$priceInclVatNormal = 0;							
						?>
						<?php foreach($_items as $_item): ?>
							<?php 
								if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 0)
								{
									$flagNormal = true;
									$priceInclVatNormal += $_item->getRowTotalInclTax();
								}
							?>
						 <?php endforeach; ?>
						 <?php 
							
							$totalAmout = 99 - $priceInclVatNormal;								
							$percentFree = $priceInclVatNormal / 99 * 100;
						 ?>
						 <!-- Fresh Express -->
						 <?php foreach($_items as $_item): ?>
							<?php 
								if(Mage::getModel('catalog/product')->load($_item->getProduct()->getId())->getFreshExpress() == 1)
								{
									$flag = true;
									$priceInclVat += $_item->getRowTotalInclTax();
								}
							?>
						 <?php endforeach; ?>
						 <?php 
							$totalAmoutExpress = 79 - $priceInclVat;	
							$percent = $priceInclVat / 79 * 100;
						 ?>
						 <?php if($flagNormal==true && $priceInclVat < 79): ?>
                        
                        <div class="type-row">						
							<div  class="type-title"><?php echo $this->__('BOXED ');?></div>
							<div class="progress-type-free">
								<div class="line-type-free"></div>
								<div class="bar-type-free" data-size="<?php echo $percentFree; ?>"></div>
							</div>
                            <div style="float:left; margin-top:1px; margin-left:3px">
                                <a href="#boxed-desc-popup" class="ms-label anchor_text" id="boxed-desc-button" data-modal>
                                    <i class="material-icons">&#xe887;</i>
                                </a>
                            </div>
                            <div class="message">
                                <?php if($priceInclVatNormal < 99): ?>
                                    <?php echo $this->__('Add'); ?> <?php echo $this->__('%s', Mage::helper('checkout')->formatPrice($totalAmout)); ?> <?php echo $this->__('to meet order minimum'); ?>
                                <?php else: ?>
                                    <?php echo $this->__('Minimum order met'); ?>
                                <?php endif;?>
                            </div>
							<div class="type-subtotal"><?php echo Mage::helper('checkout')->formatPrice($priceInclVatNormal) ?></div>						
                        </div>
						<?php endif;?>
						
						 <?php if($cookies && $priceInclVat < 79): ?>
							 <?php if($flag==true): ?>								 
								<div class="type-row type-row-express">
									<div  class="type-title"><?php echo $this->__('FRESH EXPRESS');?></div>
									<div class="progress-type-express">
										<div class="line"></div>
										<div class="bar" data-size="<?php echo $percent; ?>"></div>
									</div>
                                    <div style="float:left; margin-top:10px; margin-left:3px">
                                        <a href="#fresh-desc-popup" class="ms-label anchor_text" id="boxed-desc-button" data-modal>
                                            <i class="material-icons">&#xe887;</i>
                                        </a>
                                    </div>
									<div class="message">
										<?php if($priceInclVat < 79): ?>
											Add <?php echo $this->__('%s to meet order minimum', Mage::helper('checkout')->formatPrice($totalAmoutExpress)); ?>
										<?php else: ?>
											<?php echo $this->__('Your quatify for free shipping'); ?>
										<?php endif;?>
									</div>
									<div class="type-subtotal type-subtotal-express"><?php echo Mage::helper('checkout')->formatPrice($priceInclVat) ?></div>
								</div>
							 <?php endif; ?>
						 <?php endif; ?>
						 
						 <!-- Box + Fresh Express -->
						 <?php if($cookies && $priceInclVat > 79): ?>
							<?php 
								$totalBoth = $this->getSubtotal();
								$totalAmoutBoth = 300 - $totalBoth;	
								$percentBoth = $totalBoth / 300 * 100;
							?>
								<div class="type-row type-row-express">
									<div  class="type-title"><?php echo $this->__('Boxed + Fresh Express');?></div>
									<div class="progress-type-express">
										<div class="line"></div>
										<div class="bar-both" data-size="<?php echo $percentBoth; ?>"></div>
									</div>
									<div class="message">
										<?php if($totalBoth < 300): ?>
											<?php echo $this->__('%s amount left for <span style="corlor:red;">FREE DELIVERY</span>', Mage::helper('checkout')->formatPrice($totalAmoutBoth)); ?>
											<p>You're now qualified for Box + AUSW to be hand delivered to your door.</p>
										<?php else: ?>
											<?php echo $this->__('Your quatify for free shipping'); ?>
										<?php endif;?>
									</div>
									<div class="type-subtotal type-subtotal-express"><?php echo $this->__('$300'); ?></div>
								</div>
						 <?php endif; ?>
						 <!-- Box and Fresh end -->
						 
					 </div>
					 
                     <div class="top-subtotal">
                         <span><?php echo $this->__('Subtotal');?></span>
                         <span class="top-subtotal-price"><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>

                     </div> <!--prices-wrap-->
                     <div class="actions">	
					 <?php if($cookies && $priceInclVat < 79 && $priceInclVatNormal > 0 && $priceInclVatNormal < 99): ?>
                        <button id="checkout_wait_button" type="button" href="#checkout_wait" title="<?php echo $this->__('Checkout') ?>" class="btn-checkout"><span><?php echo $this->__('Checkout') ?></span></button>
					 <?php elseif($priceInclVatNormal > 99 && $cookies && $priceInclVat < 79):?>
						<button id="checkout_wait_button" type="button" href="#checkout_wait" title="<?php echo $this->__('Checkout') ?>" class="btn-checkout"><span><?php echo $this->__('Checkout') ?></span></button>
					 <?php else:?>
						<button type="button" title="<?php echo $this->__('Checkout') ?>" onclick="window.location='<?php echo $this->getCheckoutUrl() ?>';"><span><?php echo $this->__('Checkout') ?></span></button>
					 <?php endif; ?>
                     </div>  <!--actions-->
                     <div class="green-button">
                        <button type="button" id="buttonGreen">IMG</button>
                     </div>
						<div class="modal-container-checkout" id="checkout_wait" style="display: none;">
							<div class="close-modal-checkout"></div>
							<div class="modal-screen"></div>
							<div class="modal-content">
								<div id="all-express-box">
									<h2><?php echo $this->__('Oops!'); ?></h2>
									<p><?php echo $this->__('Minimum order required for checkout.');?></p>
									<?php if($priceInclVatNormal < 99): ?>
										<!---<p><?php echo $this->__('Only'); ?> <b>$99</b> <?php echo $this->__('to meet FRESH EXPRESS order minimum'); ?></p>--->
										<p><?php echo $this->__('Only'); ?><b><?php echo Mage::helper('checkout')->formatPrice($totalAmout); ?></b> <?php echo $this->__('to meet BOXED order minimum'); ?></p>
									<?php else: ?>
										<p><p><?php echo $this->__('BOXED'); ?> <b>$99</b> <?php echo $this->__('Minimum order met'); ?></p></p>
									<?php endif; ?>
									<?php if($priceInclVat < 79): ?>
										
                                        <p><?php echo $this->__('Only');?> <b><?php echo Mage::helper('checkout')->formatPrice($totalAmoutExpress); ?></b> <?php echo $this->__('to meet FRESH EXPRESS order minimum');?></p>
                                        
                                        <?php if($priceInclVatNormal > 99): ?>
										<a class="continuing-button" href="<?php echo $this->getUrl().'checkout/onepage/'; ?>"><?php echo $this->__('CHECKOUT ANYWAY'); ?></a><br /><br />
										<a class="continuing-button" href="<?php echo $this->getUrl().'fresh-express'; ?>"><?php echo $this->__('CONTINUE SHOPPING with FRESH EXPRESS'); ?></a>
									<?php endif; ?>
                                        
									<?php else: ?>
										<a class="continuing-button" href="<?php echo $this->getUrl(); ?>"><?php echo $this->__('CONTINUE SHOPPING'); ?></a>
									<?php endif; ?>									
								</div>
							</div>
						</div>
                 </div>
                 </div><!--checkout-controls-wrap-->
             </div>
           <?php else: ?>
             <div class="cart-empty">
                 <p>YOUR CART IS EMPTY</p>
                 <button>START SHOPPING</button>
             </div>
            <?php endif ?>
      </div> <!--top-cart-content-->
  </div>
  </div> <!--mini-cart-->
  <script type="text/javascript">
	  jQuery(document).ready(function () {
		var cartUpdate = "<?php echo $updateCarts; ?>";
		var cartAdd = "<?php echo $addCarts; ?>";
		if(cartAdd.length || cartUpdate.length){
			setTimeout(function(){ jQuery('#cart').removeClass('expanded') }, 4000);

		}   
	});
</script>
</div> <!--top-cart-contain-->
