<!--block astrabootstrap_header_block-->
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 message">
                <img src="{{media url="wysiwyg/home/top-icon-1.png"}}" />
                <span>Bigger sizes & savings</span>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 message">
                <img src="{{media url="wysiwyg/home/top-icon-2.png"}}" />
                <span>No membership fee</span>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 message">
                <img src="{{media url="wysiwyg/home/top-icon-3.png"}}" />
                <span>Fast, free shipping*</span>
            </div>
        </div>
    </div>
</div>

<!--block astrabootstrap_banner_block-->
<div class="banner1-section">
    <div class="container">
        <div class="row">
            <a class="top-pick" href="#" title="JUST FOR YOU">
                <img src="{{media url="wysiwyg/home/top-pick.jpg"}}" alt="JUST FOR YOU">
                <!--<div class="text">
                    <h2>TOP PICKS FOR YOU</h2>
                    <p>We thought you'd like these products</p>
                    <button>SHOP NOW</button>
                </div>
                <div class="images">
                    <div class="left">
                        <img src="{{media url="wysiwyg/home/banner1-left.png"}}" alt="JUST FOR YOU">
                    </div>
                    <div class="right">
                        <img src="{{media url="wysiwyg/home/banner1-right.png"}}" alt="JUST FOR YOU">
                    </div>
                </div>-->
            </a>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <a class="shop-bestsellers" href="#" title="SHOP BESTSELLERS UNDER $5">
                    <img src="{{media url="wysiwyg/home/shop-bestsellers.jpg"}}" alt="SHOP BESTSELLERS UNDER $5">
                </a>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 banner1-right">
                <a class="week-deal" href="#" title="DEAL OF THE WEEK">
                    <img src="{{media url="wysiwyg/home/week-deal.jpg"}}" alt="DEAL OF THE WEEK">
                </a>
                <a class="fresh-n-clean" href="#" title="SO FRESH & SO CLEAN">
                    <img src="{{media url="wysiwyg/home/fresh-n-clean.jpg"}}" alt="SO FRESH & SO CLEAN">
                </a>
            </div>
        </div>
    </div>
</div>

<!--block astrabootstrap_banner_bottom_block-->
<div class="banner2-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <a href="#" title="BOTTOMS UP">
                    <img src="{{media url="wysiwyg/home/banner2.jpg"}}" alt="BOTTOMS UP">
                </a>
            </div>
        </div>
    </div>
</div>

<!--block astrabootstrap_banner_bottom2_block-->
<div class="banner3-section">
    <div class="container">
        <div class="row top">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <a href="#" title="">
                    <img src="{{media url="wysiwyg/home/banner3-1.jpg"}}" alt="">
                </a>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <a href="#" title="">
                    <img src="{{media url="wysiwyg/home/banner3-2.jpg"}}" alt="">
                </a>
            </div>
        </div>
        <div class="row bottom">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <a href="#" title="">
                    <img src="{{media url="wysiwyg/home/banner3-3.jpg"}}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>