
<?php //echo ">>".$this->getCurrencyCount();
if($this->getCurrencyCount() > 1): ?>
<div class="dropdown block-currency-wrapper">

<a href="#" class="block-currency dropdown-toggle" data-target="#" data-toggle="dropdown" role="button"> <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?> <span class="caret"></span></a>
   
    <ul role="menu" class="dropdown-menu">
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?> 

            <li role="presentation"><a href="<?php echo $this->getSwitchCurrencyUrl($_code) . '?___store='.$_code;?>" tabindex="-1" role="menuitem" title="<?php echo $this->htmlEscape($_code) ?>"> <?php echo Mage::app()->getLocale()->currency($_code)->getSymbol(); ?> - <?php echo $_code; ?></a></li>

        <?php endforeach; ?>
    </ul>
    
  
</div> <!--dropdown block-currency-wrapper-->
<?php endif; ?> 