<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
    <div class="static-contain">
        <fieldset class="group-select">
            <ul>
                <li id="billing-new-address-form">
                    <fieldset>
                        <ul>
                            <li>
                                <div class="customer-name">
                                    <div class="input-box name-firstname">
                                        <label for="name"><em class="required">*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
                                        <br>
                                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                                        
                                    </div>
                                    <div class="input-box name-firstname">
                                        <label for="email"><em  class="required">*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                                        <br>
                                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                               
                                <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
                                <br>
                                    <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
                                
                            </li>
                            <li >
                                
                                <label for="comment"><em class="required">*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
                                <br>
                                    <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                                
                            </li>
                        </ul>
                    </fieldset>
                   </li> 
                   <p class="require"><em class="required">* </em><?php echo Mage::helper('contacts')->__('Required Fields') ?></p>
                   <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                   <div class="buttons-set">
                    <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button submit"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
                    </div>
                   </ul> 
               </fieldset>
           </div>
    
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>