<div class="add-to-cart">
    <?php $_product = $this->getProduct(); ?>
    <?php $buttonTitle = $this->__('Add to Cart'); ?>
    <?php if ($_product->isSaleable()): ?>  

            <div class="custom pull-left">
                <?php if (!$_product->isGrouped()): ?>
                    <?php if (Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getEnableQtyIncrements()): ?>
                        <select class="input-text qty" name="qty" id="qty">
                            <?php $qtyIncrements = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQtyIncrements(); ?>
                            <?php $qty = $qtyIncrements; ?>
                            <?php while ($qty <= (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getMaxSaleQty()): ?>
                                <option value="<?php echo $qty; ?>">
                                    <?php echo $qty; ?>
                                </option>
                                <?php $qty += $qtyIncrements; ?>
                            <?php endwhile; ?>
                        </select>
                    <?php else: ?>
                        <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                    <?php endif; ?>
                <?php endif; ?>       
                <?php echo $this->getChildHtml('', true, true) ?>   
            </div> <!--custom pull-left-->

    <?php endif; ?>

    <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><?php echo $buttonTitle ?></span></button>
</div> <!--add-to-cart-->
