<div class="email-addto-box">
    <?php $_product = $this->getProduct(); ?>
    <?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

    <ul class="add-to-links">
        <li>
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                 <a class="link-wishlist" href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href);
                      return false;" title="<?php echo $this->__('Add To Wishlist') ?>" ><!--<span><?php //echo $this->__('Add To Wishlist') ?></span>--></a>
            <?php endif; ?>
        </li>

</div> <!--email-addto-box-->
