<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>

<?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_cloudzoom/cloudzoom_view')): ?>

    <div class="product-image" id="product-images">
        <?php foreach ($this->getGalleryImages() as $_image): ?>
            <div class="item">
                <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); ?>" class="cloud-zoom" id="zoom1" rel="position: 'inside' , showTitle: false, adjustX:-4, adjustY:-4">
                    <img id="image" itemprop="image" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); ?>"  />
                </a>
            </div>
        <?php endforeach; ?>
    </div> <!--product-image-->

<?php endif; ?>  <!-- End light box -->