
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php
$bodyClass = $_COOKIE['menu_closed'] ? 'menu-closed ' : '';
?>
<body class="menu-closed <?php echo $bodyClass ?><?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance/width'); echo $this->getBodyClass()?' '.$this->getBodyClass().'':'' ?>">

  <?php if(($config['width']=='fixed')) { ?>
    <div class="page">
  <?php }?>    

    <?php echo $this->getChildHtml('after_body_start') ?>
    <?php echo $this->getChildHtml('global_notices') ?>      
       <?php echo $this->getChildHtml('header') ?>
        <!-- Start main page -->
        <div class="main-page">
            <div id="left-col">
                <?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('catalog/navigation/top_nav.phtml')->toHtml() ?>
                <div class="navigation-icon">
                    <i class="icon icon-arrow-nav"></i>
                </div>
            </div>
            <div id="middle-col">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
<!-- BEGIN Main Container -->  
       <section class="main-container col1-layout"> 
<!-- BEGIN Main Container Inner-->
          <div class="main container">
              <?php echo $this->getChildHtml('global_messages') ?>
              <?php echo $this->getChildHtml('content') ?>           
          </div> <!--main container-->
       </section> <!--main-container col1-layout-->
     
              <?php echo $this->getChildHtml('footer') ?>
              <?php echo $this->getChildHtml('before_body_end') ?>
              <?php echo $this->getAbsoluteFooter() ?> 

              <?php if(($config['width']=='fixed')) { ?>
    </div>
  <?php }?>
        </div><!-- end middle col -->
    </div>
  <!-- end main page -->
</body>
</html>