
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body class="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance/width'); echo $this->getBodyClass()?' '.$this->getBodyClass().'':'' ?>">

<?php if(($config['width']=='fixed')) { ?>
    <div class="page">
  <?php }?>    

<?php echo $this->getChildHtml('after_body_start') ?>

       <?php echo $this->getChildHtml('global_notices') ?>      
       <?php echo $this->getChildHtml('header') ?>
           <!-- BEGIN Main Container col2-right --> 
       <div class="main-container col2-right-layout"> 
          <div class="main container">
              <?php echo $this->getChildHtml('breadcrumbs') ?> 
            <div class="row">  
              <section class="col-main col-sm-9 wow bounceInUp animated">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>                   
              </section>  

              <aside class="col-right sidebar col-sm-3 wow bounceInUp animated animated">      
                <?php echo $this->getChildHtml('right') ?>                 
              </aside> <!--col-right sidebar-->

            </div><!--row-->
          
         </div><!--main-container-->
       </div> <!--main-container col2-left-layout-->      
      
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
        <?php echo $this->getAbsoluteFooter() ?>

       <?php if(($config['width']=='fixed')) { ?>
    </div >
  <?php }?>     
  
</body>
</html>