<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body class="<?php echo $this->getBodyClass()?' '.$this->getBodyClass().'':'' ?> rtl">
  <div class="page">
    <?php echo $this->getChildHtml('after_body_start') ?>
    <?php echo $this->getChildHtml('global_notices') ?>      
       <?php echo $this->getChildHtml('header') ?> 
<?php echo $this->getChildHtml('breadcrumbs') ?>  	
<!-- BEGIN Main Container -->  
       <div class="main-container col2-right-layout">
	       <div class="main container"> 
	        <div class="row">                          
              <?php echo $this->getChildHtml('global_messages') ?>
              <?php echo $this->getChildHtml('content') ?>
          </div>    
	       </div><!--main-container-->

      </div> <!--col1-layout-->
     
              <?php echo $this->getChildHtml('footer') ?>
              <?php echo $this->getChildHtml('before_body_end') ?>
              <?php echo $this->getAbsoluteFooter() ?> 
  </div> <!--page-->
</body>
</html>