
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php
$bodyClass = $_COOKIE['menu_closed'] ? 'menu-closed ' : '';
?>
<body class="<?php echo $bodyClass ?><?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance/width'); echo $this->getBodyClass()?' '.$this->getBodyClass().'':'' ?>">
  <?php if(($config['width']=='fixed')) { ?>
    <div class="page">
  <?php }?>    

<?php echo $this->getChildHtml('after_body_start') ?>

       <?php echo $this->getChildHtml('global_notices') ?>      
       <?php echo $this->getChildHtml('header') ?>
        <!-- Start main page -->
        <div class="main-page">
            <div id="left-col">
                <?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('catalog/navigation/top_nav.phtml')->toHtml() ?>
                <div class="navigation-icon">
                    <i class="icon icon-arrow-nav" id="default-icon"></i>
                </div>
            </div>
            <div id="middle-col">

       <?php echo $this->getChildHtml('breadcrumbs') ?> 
        <!-- BEGIN Main Container col2-left -->           
       <section class="main-container col2-left-layout">
           <div class="main container">   
             <div class="row">          
               <section class="xxx">
                 <?php echo $this->getChildHtml('global_messages') ?>
                 <?php echo $this->getChildHtml('content') ?>                   
               </section> <!--col-main col-sm-9 col-sm-push-3 wow bounceInUp animated-->
               <!--<aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">  -->
                 <?php //echo $this->getChildHtml('left') ?>
               <!--</aside>--> <!--col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated-->
             </div> <!--row-->       
          </div><!--main container-->
       </section> <!--main-container col2-left-layout-->   
      
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>

<?php if(($config['width']=='fixed')) { ?>
    </div>
  <?php }?>
        </div><!-- end middle col -->
    </div>
  <!-- end main page -->

  <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_popup_allexpress')->toHtml() ?>
</body>
</html>
