
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>

<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
<script type="text/javascript">
jQuery(document).ready(function($){
jQuery('#slider-elastic.elastic').eislideshow({
easing    : 'easeOutExpo',
titleeasing : 'easeOutExpo',
titlespeed  : 1200,
autoplay  : true,
slideshow_interval : 3000,
speed       : 800,
animation   : 'sides'
});
});
</script>
</head>
<?php
$bodyClass = $_COOKIE['menu_closed'] ? 'menu-closed ' : '';
?>
<body class="menu-closed <?php echo $bodyClass ?><?php echo $this->getBodyClass()?' '.$this->getBodyClass().'':'' ?>" itemscope itemtype="http://schema.org/WebPage">

  <?php if(($config['width']=='fixed')) { ?>
    <div class="page">
  <?php }?>    
    <?php echo $this->getChildHtml('after_body_start') ?>
    <?php echo $this->getChildHtml('global_notices') ?>      
       <?php echo $this->getChildHtml('header') ?>
       <!-- Start main page --> 
       <div class="main-page">
        <div id="left-col">
          <?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('catalog/navigation/top_nav.phtml')->toHtml() ?>
            <div class="navigation-icon">
                <i class="icon icon-arrow-nav"></i>
            </div>
        </div>
        <div id="middle-col">
            <?php echo $this->getChildHtml('breadcrumbs') ?>

       <?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>

          <!-- Home Slider Block -->    
      <?php if(($config['width']=='fixed')) { ?>   
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_home_slider_banner_block')->toHtml() ?>
      <?php } ?>

      <?php if(($config['width']=='flexible')) { ?>   
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_home_slider_full_width_banner_block')->toHtml() ?>
      <?php } ?>

          <!-- Header block call -->
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_header_block')->toHtml() ?>

        <!--block astrabootstrap_banner_block-->
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_banner_block')->toHtml() ?>
				<div class="row">
              		<?php echo $this->getChildHtml('global_messages') ?>
              	</div>
              		<?php echo $this->getChildHtml('content') ?>
       
       
      <!-- Home List Block -->
      <div class="wake-up-pro container wow bounceInUp animated">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('whats_new')->toHtml() ?>
      </div>
      <!-- Home Lastest Blog Block -->
       

      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_banner_bottom_block')->toHtml() ?>

      <!-- Home List Block -->
      <div class="wake-up-pro container wow bounceInUp animated">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_home_list_block')->toHtml() ?>
      </div>
      <!-- Home Lastest Blog Block -->

      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_banner_bottom2_block')->toHtml() ?>
	  <div class="wake-up-pro container wow bounceInUp animated">
		  <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('wake_up_products')->toHtml() ?>
	  </div>
      <?php echo $this->getChildHtml('footer') ?>
      <?php echo $this->getChildHtml('before_body_end') ?>
      <?php echo $this->getAbsoluteFooter() ?>     

  <?php if(($config['width']=='fixed')) { ?>
    </div>
  <?php }?>  

      <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_newsletterpopup/newsletterpopup_enable')==1){?>
          <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe_home_popup.phtml')->toHtml() ; ?>
      <?php } ?>
    </div><!-- end middle col -->
  </div>
  <!-- end main page -->


</body>
</html>