<?php 
/* Newsletter subscribe */
?>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="block-subscribe">
            <div class="newsletter">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail1">  
      <h4><?php echo $this->__('Join Us') ?></h4>
      <input type="text" name="email" id="newsletter1" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" placeholder="Enter your email address" />                              
      <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="subscribe"><span><?php echo $this->__('Subscribe') ?></span></button> 
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail1');
    //]]>
    </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>