/*
* Responsive Style
*/
/* Table of Content
==
	#320-479
	#480-767
	#768-991
	#992-1199
*/

/* body */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .mini-cart {
        /*text-align: right;*/
    }
    .block-language, .block-currency {
        font-size: 11px;
    }
    .blog_post li {
        width: 70%;
    }
    .blog_post {
        float: none;
    }
    .orange-slider {
        display: none;
    }
    .product-view .product-shop .add-to-box {
        margin-bottom: 20px;
    }
    .product-next-prev {
        display: none;
    }
    .products-grid li.item {
        width: 90%;
    }
    .os-phrases {
        display: none !important;
    }
    .blog_post li {
        float: none;
        margin: 10px auto 2px;
    }
    .blog_post li:nth-of-type(2n+2), .blog_post li :nth-of-type(2n+2) .blog_post li {
        margin-right: auto;
    }
    .blog_post li:last-child {
        margin-right: auto;
    }
    .footer-bottom .company-links li {
        float: left;
        margin: 12px 20px 0 0;
    }
    .footer-logo {
        border: none;
    }
    .contacts-info {
        border: none;
    }
    .info-line {
        border: none;
    }
    .newsletter {
        width: 100%
    }
    .pro-recommend .item {
        float: none;
        width: 70%;
        margin: 20px auto;
    }
    .feature-box {
        margin-bottom: 12px;
    }
    .pro-recommend .item:nth-of-type(4n+4), .pro-recommend .item *:nth-of-type(4n+4) {
        margin-right: auto;
    }
    .pro-recommend .item:nth-of-type(7n+7), .pro-recommend .item *:nth-of-type(7n+7) {
        margin-right: auto;
    }
    .mini-cart .dropdown-toggle span {
        display: none;
    }
    .search-box {
        width: 185px;
        margin-top: 5px !important;
        position: absolute;
    }
    .top-cart-contain {
        top: -10px !important;
        left: auto !important;
    }
    .search-btn-bg {
        float: right;
        padding: 6px;
    }
    #search {
        width: 80%;
    }
    .new_title h2 {
        font-size: 18px;
        padding-left: 12px;
    }
    .mini-cart .basket a {
        background: none;
        min-width: inherit;
    }
    .page {
        overflow-x: hidden
    }
    .sticky {
        width: 100%;
        height: 50px;
    }
    #nav {
        display: none;
    }
    nav {
        height: 44px;
    }
    #mobile-menu {
        display: block;
    }
    .top-cart-contain {
        position: absolute;
        right: 8px;
        top: 42px;
    }
    .top-cart-content {
        top: 36px;
        right: 0;
    }
    .header .logo img {
        width: 80%;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    #checkout-step-login .col2-set .col-2 {
        width: 100%;
    }
    #checkout-step-login .col2-set .col-1 {
        width: 100%;
        border: none;
        padding: 0px;
    }
    .group-select li .input-box {
        width: 100%;
    }
    .popup1 {
        display: none !important;
    }
    #overlay {
        display: none !important;
    }
    .account-login .col2-set .col-1 {
        width: 100%;
        padding: 10px;
        min-height: inherit;
        margin-bottom: 15px;
    }
    .account-login .col2-set .col-2 {
        width: 100%;
        padding: 10px;
    }
    .checkout-progress li {
        width: 100%;
    }
    .crosssel .new_title.center {
        height: auto;
    }
    .crosssel .new_title h2 {
        border-bottom: none;
        padding: 8px 0;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 68%;
    }
    .block-currency label, .block-language label {
        font-size: 11px;
    }
    .product-view .product-name h1 {
        font-size: 24px;
    }
    .product-view .product-shop .add-to-box .btn-cart {
        margin: 8px 0;
    }
    .more-views .owl-carousel .owl-item {
        width: 125px !important;
    }
    .email-addto-box span {
        display: none;
    }
    .product-tabs li.active a {
        border: 1px #fff solid;
        border-bottom: none;
        background-color: #FFFFFF;
    }
    .nav-tabs.product-tabs > li > a {
        border-bottom: 4px solid #f0f0f0;
    }
    .nav-tabs.product-tabs > li > a:hover {
        margin-right: 0px;
        border: none;
        color: #222;
        font-weight: 700;
        background-color: #FFFFFF;
        border-bottom: 4px solid #f0f0f0;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        padding: 12px;
        margin-right: 0px;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: 1px #fff solid;
        border-bottom: 4px solid #f0f0f0;
    }
    .product-tabs {
        border: none;
    }
    .tab-content {
        display: inline-block;
    }
    .box-reviews .review {
        padding-left: 1.5em;
        width: 58%;
    }
    .product-collateral .row {
        padding: 0 8px;
    }
    .email-addto-box {
        float: left;
    }
    .products-list .item {
        padding: 5px;
    }
    .product-tabs li {
        width: 100%;
        text-align: center;
    }
    .products-list .product-shop {
        width: 100%;
        margin: 10px 0;
    }
    .category-products .products-grid .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-prev {
        left: 0px;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-next {
        right: 0px;
    }
    .cat-img-title.cat-box {
        display: none;
    }
    .pager .limiter label, .toolbar label {
        display: none;
    }
    .toolbar .pager {
        float: left;
        margin: 6px 0px;
        width: 100%;
    }
    .social ul li {
        margin: 0px 2px 0px 0px;
    }
    .newsletter h4 {
        display: block;
    }
    .social {
        display: inline-block
    }
    .brand-logo .container {
        padding: 0px 10px;
    }
    .brand-logo .controls .prev {
        left: -10px;
        border: none;
        top: -100px;
    }
    .brand-logo .controls .next {
        border: none;
        right: 0px;
        top: -100px;
    }
    .brand-logo .col-lg-2 {
        padding: 0 8px;
    }
    .brand-logo .row img {
        margin: 5px 0;
        display: inline-block;
    }
    .brand-logo .row {
        margin: 0px;
    }
    .bag-product-slider .col-xs-4 {
        padding: 0 3px;
    }
    .small-pr-slider .col-item .actions-links .add-to-links a.link-wishlist {
        display: none;
    }
    .shoes-product-slider .col-xs-4 {
        padding: 0 3px;
    }
    .small-pr-slider .carousel-inner .row {
        margin: auto;
    }
    .bag-product-slider .col-item .actions-links, .shoes-product-slider .col-item .actions-links {
        display: none;
    }
    .latest-blog .row {
        margin: auto;
    }
    .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .small-pr-slider .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .header-service .row .content {
        text-align: center;
        margin: 3px 0;
    }
    #magik-slideshow .RHS-banner {
        text-align: center;
    }
    .offer-banner-section {
        text-align: center;
    }
    .promo-banner-section img {
        width: 100%;
        margin-bottom: 10px;
    }
    .col-item {
        margin-bottom: 20px;
    }
    .offer-banner-section img {
        margin-bottom: 12px;
    }
    .offer-banner-section .row a:hover::before {
        display: none;
    }
    #magik-slideshow .RHS-banner .add a:hover::before {
        display: none;
    }
    .RHS-banner .add {
        margin-top: 10px;
    }
    .RHS-banner .add img {
        width: 280px;
    }
    .block-currency-wrapper {
        margin: 5px 0 0 -2px;
    }
    .toplinks .links {
        text-align: right;
    }
    .toplinks div.links div a {
        padding: 0 0 0 6px;
    }
    .toplinks>div>div.myaccount>a:before {
        content: '\f007';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.wishlist>a:before {
        content: '\f004';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.check>a:before {
        content: '\f00c';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.demo>a:before {
        content: '\f09e';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks .links div .click-nav ul .clicker:before {
        content: '\f15b';
        font-family: FontAwesome;
        font-size: 13px;
        padding-left: 4px;
        padding-top: 2px;
        float: left;
        margin-right: 6px;
        margin-top: -2px;
    }
    .toplinks>div>div.login>a:before {
        content: '\f13e';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.logout>a:before {
        content: '\f09c';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .header .logo {
        margin-top: 15px;
    }
    .forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container {
        max-width: 100%;
        margin: auto;
    }
    .tp-leftarrow.default, .tp-rightarrow.default {
        background-size: 10px;
    }
    .tp-leftarrow.default, .tp-rightarrow.default {
        height: 30px;
        line-height: 30px;
        width: 28px;
    }
    .buy-btn, .view-more {
        font-size: 10px;
    }
    .tp-caption.Title {
        display: none;
    }
    #toTop {
        height: 30px;
        line-height: 30px;
        width: 35px;
    }
    .slider-items-products .item {
        padding-left: 12px;
    }
    .slider-items-products .owl-buttons .owl-next a {
        left: -18px;
    }
    .slider-items-products .owl-buttons .owl-prev a {
        left: -28px;
    }
    .footer-middle{
        padding-left: 12px;
        padding-right: 12px;
    }
    .footer-bottom{
        padding-left: 12px;
        padding-right: 12px;
    }
    .footer-bottom a {
        color: #fff;
    }
    .footer-bottom .links li{
        margin: 7px 0;
        display: block;
        clear: both;
    }
    .footer-bottom .links li a{}

    /* product-view */
    .header-container .header-top{display: none}
    .catalog-product-view .product-view .product-essential{width: 100%}
    .catalog-product-view .main-container{
        padding-left: 12px;
        padding-right: 12px;
    }
    .catalog-product-view .breadcrumbs{display: none}
    .product-view .product-img-box .product-image{
        width: 100%;
    }
    .product-view .product-essential form{
        display: block;
    }
    .product-view .product-shop {
        margin-top: 0;
    }
    .product-view .product-details {padding: 0}
    .product-view .product-img-box{
        width: 100%;
        min-width: 320px;
        display: block;
        clear: both;
        float: none;
    }
    .product-view .owl-theme .owl-controls .owl-buttons div {
        top: initial;
        bottom: 0;
    }
    .product-view .owl-theme .owl-buttons{display: none}
    .product-view .owl-next {
        right: 0;
    }
    .product-view .owl-prev {
        left: 0;
    }
    .product-view .product-shop .add-to-box{
        padding-left: 0;
    }
    .product-view .product-shop .add-to-box .btn-cart{
        width: calc(100% - 90px);
    }
    .product-view .product-name h1{text-align: left}
    .product-view .price-box-bottom{text-align: left}
    .product-view .product-details .add-to-box .add-to-cart{
        width: calc(100% - 45px);
    }
    .product-view .email-addto-box{padding-left: 0}
    .product-view .line-dotted{display: none}
    .product-view .product-collateral > div {

        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .product-view .product-collateral .new_title2 {
        position: relative;
        border-top: 2px dotted #d4d9e8;
    }
    .product-view .product-collateral .new_title2 h3{
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;
    }
    .product-view .product-collateral .new_title2 h3:after{
        content: '';
        padding: 14px;
        position: absolute;
        top: 5px;
        right: 5px;
        background: url("../images/plus_2.png") no-repeat center center;
        z-index: 99;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .product-view .product-collateral .new_title2[data-open="true"] h3:after{
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari */
        transform: rotate(135deg);
    }
    .product-view .product-collateral .box-additional{
        padding: 0;
    }
    .product-view .product-collateral .desc-extra{
        display: none;
    }
    .product-view .product-collateral .right{
        border-bottom: 2px dotted #d4d9e8;
    }
    .catalog-product-view .footer-top{
        display: none;
    }
    #upsell-products-slider .item {
        padding-left: 0;
    }
    .product-view .owl-controls.clickable{
        right: initial;
    }
    #middle-col #upsell-products-slider img{
        max-width: 100%;
    }
    #upsell-products-slider .col-item:hover .actions .add-to-links a.link-wishlist{
        left: 0;
    }
    #upsell-products-slider .col-item:hover .actions .add-to-links a.link-compare{
        right: 0;
    }
    #upsell-products-slider .owl-controls{

    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .blog_post {
        float: none;
    }
    .orange-slider {
        display: none;
    }
    .product-additional {
        display: none;
    }
    .os-phrases {
        display: none !important;
    }
    .blog_post {
        margin: 20px auto;
    }
    .blog_post li {
        float: none;
        margin: 8px;
        width: 44%;
        float: none;
        display: inline-block;
    }
    .blog_post li:nth-of-type(2n+2), .blog_post li *:nth-of-type(2n+2) .blog_post li {
        float: none;
        margin: 8px;
        width: 44%;
        float: none;
        display: inline-block;
    }
    .blog_post li:last-child {
        float: none;
        margin: 8px;
        width: 44%;
        float: none;
        display: inline-block;
    }
    .product-view .product-shop .add-to-links .link-compare {
        display: inline-block;
    }
    .email-friend a {
        font-size: 11px;
    }
    .footer-bottom .company-links li {
        float: left;
        margin: 12px 20px 0 0;
    }
    .footer-logo {
        border: none;
    }
    .contacts-info {
        border: none;
    }
    .info-line {
        border: none;
    }
    .newsletter {
        width: 100%
    }
    .pro-recommend .item {
        width: 45%;
    }
    .feature-box {
        margin-bottom: 12px;
    }
    .pro-recommend .item:nth-of-type(4n+4), .pro-recommend .item *:nth-of-type(4n+4) {
        margin-right: 20px;
    }
    .pro-recommend .item:nth-of-type(7n+7), .pro-recommend .item *:nth-of-type(7n+7) {
        margin-right: 20px;
    }
    .mini-cart .dropdown-toggle span {
        display: none;
    }
    .search-box {
        width: 220px;
        margin-top: 5px !important;
        position: absolute;
    }
    .top-cart-contain {
        /*top: -10px !important;*/
        /*left: auto !important;*/
    }
    .search-btn-bg {
        float: right;
        padding: 6px;
    }
    #search {
        width: 50%;
    }
    .new_title h2 {
        font-size: 18px;
    }
    .mini-cart .basket a {
        background: none;
        min-width: inherit;
    }
    .newsletter {
        width: 100%
    }
    .block-banner img {
        width: auto;
    }
    .block-banner a:before {
        display: none;
    }
    .popup1 {
        display: none !important;
    }
    #overlay {
        display: none !important;
    }
    .account-login .col2-set .col-1 {
        width: 100%;
        padding: 20px;
        min-height: inherit;
        margin-bottom: 15px;
    }
    .account-login .col2-set .col-2 {
        width: 100%;
        padding: 20px;
    }
    .checkout-progress li {
        width: 100%;
    }
    .crosssel .new_title.center {
        height: auto;
    }
    .crosssel .new_title h2 {
        border-bottom: none;
        padding: 8px 0;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 82%;
    }
    .product-view .product-name h1 {
        font-size: 24px;
    }
    .product-tabs li:last-child {
        display: none;
    }
    .products-list .item {
        padding: 10px;
    }
    .products-list .product-shop {
        width: 100%;
        margin: 10px 0;
    }
    .category-products .products-grid .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-prev {
        left: 0px;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-next {
        right: 0px;
    }
    .cat-img-title.cat-box {
        display: none;
    }
    .brand-logo {
        overflow: hidden;
    }
    .pager .limiter label, .toolbar label {
        display: none;
    }
    .toolbar .pager {
        float: left;
        margin: 6px 0px;
        width: 100%;
    }
    .newsletter h4 {
        display: block;
    }
    .social ul li {
        margin: 8px 7px 0 0px;
    }
    .social {
        display: inline-block;
    }
    .brand-logo .container {
        padding: 0px 10px;
    }
    .brand-logo .controls .prev {
        left: -5px;
        border: none;
        top: -100px;
    }
    .brand-logo .controls .next {
        border: none;
        right: 2px;
        top: -100px;
    }
    .brand-logo .col-lg-2 {
        padding: 0 8px;
    }
    .brand-logo .row img {
        margin: 5px 0;
        display: inline-block;
    }
    .brand-logo .row {
        margin: 0px 0px 0px 15px;
    }
    .bag-product-slider .col-xs-4 {
        padding: 0 3px;
    }
    .shoes-product-slider .col-xs-4 {
        padding: 0 3px;
    }
    .small-pr-slider .carousel-inner .row {
        margin: auto;
    }
    .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .header-service .row .content {
        text-align: center;
        margin: 5px 0;
    }
    .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .small-pr-slider .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    #magik-slideshow .RHS-banner {
        text-align: center;
    }
    .offer-banner-section {
        text-align: center;
    }
    .promo-banner-section img {
        width: 100%;
        margin-bottom: 10px;
    }
    .col-item {
        margin-bottom: 20px;
    }
    .offer-banner-section .row a:hover::before {
        display: none;
    }
    .offer-banner-section img {
        margin-bottom: 12px;
    }
    #magik-slideshow .RHS-banner .add a:hover::before {
        display: none;
    }
    .RHS-banner .add {
        margin-top: 10px;
    }
    .RHS-banner .add img {
        width: 360px;
    }
    .sticky {
        width: 100%;
        height: 50px;
    }
    #nav {
        display: none;
    }
    nav {
        height: 44px;
    }
    #mobile-menu {
        display: block;
    }
    .top-cart-contain {
        /*position: absolute;*/
        /*right: 8px;*/
        /*top: 46px;*/
    }
    .top-cart-content {
        /*top: 36px;*/
        /*right: 0;*/
    }
    .header .logo img {
        width: 80%;
    }
    .toplinks div.links div a {
        padding: 0 0 0 12px;
    }
    .toplinks>div>div.myaccount>a:before {
        content: '\f007';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.wishlist>a:before {
        content: '\f004';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.check>a:before {
        content: '\f00c';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.demo>a:before {
        content: '\f09e';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks .links div .click-nav ul .clicker:before {
        content: '\f15b';
        font-family: FontAwesome;
        font-size: 13px;
        padding-left: 4px;
        padding-top: 2px;
        float: left;
        margin-right: 6px;
        margin-top: -2px;
    }
    .toplinks>div>div.login>a:before {
        content: '\f13e';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .toplinks>div>div.logout>a:before {
        content: '\f09c';
        font-family: FontAwesome;
        font-size: 13px;
        padding-right: 6px
    }
    .forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container {
        max-width: 100%;
    }
    #toTop {
        height: 30px;
        line-height: 30px;
        width: 35px;
    }
    .col-item .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item .actions .add-to-links a.link-compare {
        right: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-compare {
        right: 10px;
    }

    /* product-view */
    .header-container .header-top{display: none}
    .catalog-product-view .product-view .product-essential{width: 100%}
    .catalog-product-view .main-container{
        padding-left: 12px;
        padding-right: 12px;
    }
    .catalog-product-view .breadcrumbs{display: none}
    .product-view .product-img-box .product-image{
        width: 100%;
    }
    .product-view .product-essential form{
        display: block;
    }
    .product-view .product-shop {
        margin-top: 0;
    }
    .product-view .product-details {padding: 0}
    .product-view .product-img-box{
        width: 100%;
        min-width: 320px;
        display: block;
        clear: both;
        float: none;
    }
    .product-view .owl-theme .owl-controls .owl-buttons div {
        top: initial;
        bottom: 0;
    }
    .product-view .owl-theme .owl-buttons{display: none}
    .product-view .owl-next {
        right: 0;
    }
    .product-view .owl-prev {
        left: 0;
    }
    .product-view .product-shop .add-to-box{
        padding-left: 0;
    }
    .product-view .product-shop .add-to-box .btn-cart{
        width: calc(100% - 90px);
    }
    .product-view .product-name h1{text-align: left}
    .product-view .price-box-bottom{text-align: left}
    .product-view .product-details .add-to-box .add-to-cart{
        width: calc(100% - 45px);
    }
    .product-view .email-addto-box{padding-left: 0}
    .product-view .line-dotted{display: none}
    .product-view .product-collateral > div {

        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .product-view .product-collateral .new_title2 {
        position: relative;
        border-top: 2px dotted #d4d9e8;
    }
    .product-view .product-collateral .new_title2 h3{
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;
    }
    .product-view .product-collateral .new_title2 h3:after{
        content: '';
        padding: 14px;
        position: absolute;
        top: 5px;
        right: 5px;
        background: url("../images/plus_2.png") no-repeat center center;
        z-index: 99;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .product-view .product-collateral .new_title2[data-open="true"] h3:after{
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari */
        transform: rotate(135deg);
    }
    .product-view .product-collateral .box-additional{
        padding: 0;
    }
    .product-view .product-collateral .desc-extra{
        display: none;
    }
    .product-view .product-collateral .right{
        border-bottom: 2px dotted #d4d9e8;
    }
    .catalog-product-view .footer-top{
        display: none;
    }
    #upsell-products-slider .item {
        padding-left: 0;
    }
    .product-view .owl-controls.clickable{
        right: initial;
    }
    #middle-col #upsell-products-slider img{
        max-width: 100%;
    }
    #upsell-products-slider .col-item:hover .actions .add-to-links a.link-wishlist{
        left: 0;
    }
    #upsell-products-slider .col-item:hover .actions .add-to-links a.link-compare{
        right: 0;
    }


}

@media (min-width: 769px) and (max-width: 991px) {
    .col-item .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item .actions .add-to-links a.link-compare {
        right: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-compare {
        right: 10px;
    }
    .product-view .product-shop .add-to-box .btn-cart {
        margin: 10px 0;
    }
    .product-view .product-shop .add-to-links span {
        display: none;
    }
    .email-friend a span {
        display: none;
    }
    .product-view .product-shop .add-to-links .link-compare {
        display: inline-block;
    }
    .footer-logo {
        border: none;
    }
    .contacts-info {
        border: none;
    }
    .info-line {
        border: none;
    }
    .footer-middle .col-md-3, .footer-middle .col-md-2 {
        min-height: 245px;
    }
    .pro-recommend .item {
        width: 30%;
    }
    .pro-recommend .item:nth-of-type(4n+4), .pro-recommend .item *:nth-of-type(4n+4) {
        margin-right: 20px;
    }
    #nav .level0-wrapper .nav-add {
        display: none;
    }
    .top-cart-contain {
        /*position: absolute;*/
        /*right: 12px;*/
    }
    #nav .nav-custom-link {
        display: none;
    }
    #nav > li > a > span {
        padding: 0 8px;
    }
    #os-phrases {
        display: none !important;
    }
    .toplinks div.links div a span {
        display: none;
    }
    .block-company-wrapper {
        display: none !important;
    }
    .newsletter {
        width: 100%
    }
    .button-compare {
        margin-bottom: 8px;
    }
    button.button.btn-proceed-checkout span {
        font-size: 13px;
    }
    button.button.btn-proceed-checkout:before {
        font-size: 16px;
    }
    .cart-collaterals h3 {
        font-size: 13px;
    }
    .product-view .product-shop .add-to-links li {
        padding: 0 2px;
    }
    .email-friend a {
        padding: 10px;
    }
    .product-view .product-name h1 {
        font-size: 24px;
    }
    .products-list .item {
        padding: 10px;
    }
    .products-list .product-shop {
        width: 52%;
    }
    .category-products .products-grid .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-prev {
        left: 0px;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-next {
        right: 0px;
    }
    .cat-img-title.cat-box {
        display: none;
    }
    .brand-logo {
        overflow: hidden;
    }
    .block-cart ul li.item {
        display: inline-block;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 155px;
    }
    ol#compare-items li a.product-name {
        width: 135px;
    }
    #recently-viewed-items .product-name {
        width: 90%;
    }
    .toolbar .pager {
        float: left;
        margin: 6px 0px;
        width: 100%;
    }
    .page {
        overflow-x: hidden;
    }
    .email-icon:before {
        margin-right: 4px;
    }
    .forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container {
        max-width: 98%;
    }
    .newsletter-sign-box {
        left: 21%;
        min-width: 400px;
        width: 60%;
        top: 25%;
        margin: auto;
    }
    .blog_post li {
        width: 300px;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        border: 3px #d5e0e7 solid;
        background: #fff;
        text-align: left;/* border: 1px #ddd solid; */
    }
    .brand-logo .container {
        padding: 0px 10px;
    }
    .brand-logo .controls .prev {
        left: -10px;
        border: none;
        top: -70px;
    }
    .brand-logo .controls .next {
        border: none;
        right: 0px;
        top: -70px;
    }
    .brand-logo .col-lg-2 {
        padding: 0 8px;
    }
    .brand-logo .row img {
        margin: 5px 0;
        display: inline-block;
    }
    .brand-logo .row {
        margin: 0px 0px 0px 15px;
    }
    .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .header-service .row .content {
        text-align: center;
        margin: 5px 0;
    }
    .promo-banner-section img {
        width: 96%
    }
    .col-item {
        margin-bottom: 20px;
    }
    .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .small-pr-slider .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    #magik-slideshow .RHS-banner .add a:hover::before {
        display: none;
    }
    .RHS-banner .add {
        display: none;
    }
    .sticky {
        width: 100%;
    }
    .cate-dropdown {
        display: none;
    }
    .search-box {
        width: 24%;
    }
    #search {
        /*width: 75%;*/
    }
    .search-btn-bg {
        height: 32px;
    }
    #nav ul.level0 > li {
        width: 18%;
        margin-right: 8px;
    }
    #nav ul.level0 > li.last {
        width: 18%;
    }
    #nav ul.level1 > li a {
        display: inline-flex;
        float: none;
    }
    #nav .level0-wrapper .nav-add .push_item {
        width: 352px;
        height: auto;
        margin-right: 15px;
    }
    #nav .level0-wrapper .nav-add .push_item img {
        width: 352px;
        height: auto;
    }
    #nav .level0-wrapper .nav-add .push_item .push_img a {
        height: 95px;
        width: 352px;
    }
    #nav .level0-wrapper .nav-add .push_item_last {
        width: 352px;
    }
    #nav .level0-wrapper .nav-add .push_item_last img {
        width: 355px;
    }
    #nav .level0-wrapper, #nav.classic .parent > ul {
        width: 100%;
        margin: auto;
        padding: 20px 4px 10px;
    }
    .grid13-8 {
        display: inline;
        float: left;
        margin-left: 0;
        margin-right: 1%;
        margin-bottom: 0;
        padding-left: 0px;
        width: 100%;
    }
    .nav-block-right {
        display: none;
    }
    .grid12-5 {
        width: 34%;
    }
    .grid12-5 img {
        width: 100%;
    }
    /*.grid12-3 {
        width: 15%;
    }*/
    .grid12-3 a img {
        width: 100px;
    }
    .grid12-4 {
        width: 30%;
        margin: 5px 20px 0 0;
    }
    .grid12-4 a img {
        width: 218px;
    }
    .grid12-8 ul.level0 > li {
        width: 220px;
    }
    #nav .grid13-8 ul.level0 > li {
        width: 22% !important;
    }
    .grid12-8 .cat-img img {
        width: 175px;
    }
    /*.grid13-8 {
        width: 65%;
    }*/
    .grid12-8 {
        width: 64%;
    }
    #nav .grid12-8 ul.level0 > li {
        width: 23%;
    }
    #nav .grid12-8 ul.level0 > li.last {
        width: 40%;
    }
    .slideshow-wrapper .browse-button, .slideshow-wrapper .tab-pager {
        z-index: 5;
    }
    .cat-img img {
        width: 138px;
    }
    .custom-menu .grid12-5 img {
        width: 168px;
    }
    .product-additional .block-product-additional img {
        width: 100%;
    }
    .offer-banner-section .col-sm-6 {
        float: none;
        margin: auto auto 25px;
        display: inline-block;
        width: 48%;
        text-align: center;
    }
    .social ul li.youtube {
        display: none;
    }
    .payment-accept img {
        margin: 0 2px 8px 0;
    }
    .footer-bottom .company-links li {
        float: left;
    }
    #ms-topmenu .ms-content {
        max-height: 400px;
        overflow: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cat-img-title.cat-box {
        margin: 10px 3%;
    }
    .col-item .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-wishlist {
        left: 0px;
    }
    .col-item .actions .add-to-links a.link-compare {
        right: 0px;
    }
    .col-item:hover .actions .add-to-links a.link-compare {
        right: 10px;
    }
    .toplinks div.links div a {
        padding: 0 0 0 10px;
    }
    .product-view .product-shop .add-to-links .link-compare {
        display: inline-block;
    }
    .email-friend a span {
        display: none;
    }
    .blog_post {
        margin-top: 15px;
    }
    .blog_post li {
        width: 22%;
    }
    .pro-recommend .item {
        min-height: 500px !important;
    }
    .blog_post li:nth-of-type(2n+2), .blog_post li *:nth-of-type(2n+2) .blog_post li {
        margin-right: 18px;
    }
    #nav .level0-wrapper .nav-add {
        display: none;
    }
    .pro-recommend .item:nth-of-type(4n+4), .pro-recommend .item *:nth-of-type(4n+4) {
        margin-right: 20px;
    }
    .product-additional .block-product-additional img {
        width: 100%;
    }
    .pro-recommend .item {
        width: 30%;
    }
    .block-company-wrapper {
        display: none !important;
    }
    .top-cart-contain {
        position: absolute;
    }
    .newsletter-sign-box {
        left: 28%;
        min-width: 350px;
        width: 46%;
        top: 25%;
        margin: auto;
    }
    .products-list .item {
        padding: 15px;
    }
    .products-list .product-shop {
        width: 62%;
    }
    .category-products .products-grid .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-prev {
        left: 0px;
    }
    .brand-logo .slider-items-products .owl-buttons .owl-next {
        right: 0px;
    }
    .col-left .block-cart .block-content ul li a.product-image img {
        width: 60px;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 145px;
    }
    ol#compare-items li a.product-name {
        width: 195px;
    }
    #recently-viewed-items .product-name {
        width: 92%;
    }
    .toolbar .pager {
        width: 53%;
    }
    .page {
        overflow-x: hidden;
    }
    .email-icon:before {
        margin-right: 5px;
    }
    .brand-logo .container {
        padding: 0px 10px;
    }
    .brand-logo .controls .prev {
        left: -10px;
        border: none;
    }
    .brand-logo .controls .next {
        border: none;
        right: -20px;
    }
    .brand-logo .col-lg-2 {
        padding: 0 8px;
    }
    .brand-logo .row img {
        margin: 5px 0;
        display: inline-block;
    }
    .brand-logo .row {
        margin: 0px 0px 0px 15px;
    }
    .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.magik-btn-quickview {
        left: 0%;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-wishlist {
        right: 40px;
    }
    .small-pr-slider .col-item:hover .actions-links .add-to-links a.link-compare {
        right: 0%;
    }
    .small-pr-slider .col-item .actions-links {
        bottom: 130px;
        top: auto;
    }
    .small-pr-slider .col-item:hover .actions-links {
        bottom: 130px;
        top: auto;
    }
    .promo-banner-section img {
        width: 100%
    }
    .offer-banner-section img {
        width: 100%;
    }
    .sticky {
        width: 100%;
    }
    #magik-slideshow .RHS-banner .add img {
        width: 100%;
    }
    .search-box {
        width: 20%;
    }
    .cate-dropdown, .cate-dropdown:focus {
        width: 25%;
    }
    #search {
        width: 62%;
    }
    #nav ul.level0 > li {
        width: 18.6%;
        margin-right: 10px;
    }
    #nav ul.level0 > li.last {
        width: 18.6%;
    }
    #nav .grid12-8 ul.level0 > li {
        width: 23%;
    }
    #nav ul.level1 > li a {
        display: inline-flex;
        float: none;
    }
    #nav .level0-wrapper .nav-add .push_item {
        width: 48%;
        height: auto;
        margin-right: 15px;
    }
    #nav .level0-wrapper .nav-add .push_item.last {
        width: 48%;
        height: auto;
        margin-right: 0px;
    }
    #nav .level0-wrapper .nav-add .push_item img {
        width: 100%;
        height: auto;
    }
    #nav .level0-wrapper .nav-add .push_item .push_img a {
        height: 100%;
        width: 100%;
    }
    #nav .level0-wrapper, #nav.classic .parent > ul {
        width: 100%;
        margin: auto;
        padding: 20px 10px 8px;
    }
    .grid12-3 {
        width: 15%;
    }
    .grid12-3 a img {
        width: 100%;
    }
    .grid12-4 {
        margin-right: 0px;
        width: 36%;
    }
    .grid12-4 a img {
        width: 100%;
    }
    .grid12-8 ul.level0 > li.last {
        width: 18%;
    }
    .grid12-8 ul.level0 > li {
        width: 18%;
    }
    .grid12-8 .cat-img img {
        width: 100%;
    }
    .grid13-8 {
        width: 79%;
    }
    #nav .grid13-8 ul.level0 > li {
        width: 20%;
    }
    .grid12-5 {
        width: 23%;
    }
    .grid12-5 img {
        width: 100%;
    }
    .grid12-8 {
        width: 62%;
    }
    .slideshow-wrapper .browse-button, .slideshow-wrapper .tab-pager {
        z-index: 5;
    }
    .cat-img img {
        width: 170px;
    }
    .custom-menu .grid12-5 img {
        width: 210px;
    }
    .social ul li.youtube {
        display: none;
    }
    .payment-accept img {
        margin: 0px 5px 8px 0px;
        width: 45px;
    }
    .email-icon::before {
        display: none;
    }
    #ms-topmenu .ms-content {
        max-height: 400px;
        overflow: auto;
    }
}
@media (min-width: 1200px) and (max-width: 1366px) {
    #ms-topmenu .ms-content {
        max-height: 450px;
        overflow: auto;
    }
    .menu-closed #middle-col {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

}


@media only screen and (min-width: 768px) {
    #cart {
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        left: auto;
        right: -430px;
        width: 420px;
        margin-left: 0;
    }
    #cart.expanded {
        right: 0;
    }
    .desc-extra {
        display: block !important;
    }
    #menu-wrapper{
        position: static;
    }
    /*.menu-closed #middle-col {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    #middle-col {
        -webkit-transform: translate(60px,0);
        -ms-transform: translate(60px,0);
        transform: translate(60px,0);
    }*/
}

@media only screen and (min-width: 480px) {
    .search-open #search {
        width: 90%;
        display: block;
    }
}
@media only screen and (max-width: 479px) {
    .top-search .placeholder {
        display: none;
    }
    .search-open #search {
        width: 80%;
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .myaccount a span {
        display: none;
    }
    .header-top{
        position: relative;
        z-index: 101;
    }
    .header-bottom{
        height: 60px;
        box-shadow: -3px -5px 20px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: -3px -5px 20px rgba(0, 0, 0, 0.15);
        z-index: 100;
    }
    .header-bottom .top-search{
        top: 15px;
        min-width: 0;
        left: 50px;
    }
    .search-open .top-search{
        padding-left: 0;
    }
    .header-bottom .top-search .icon-close{
        right: 50px;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        max-width: 100%;
        height: auto;
    }
    .header-bottom .account-cart{
        top: 14px;
        right: 5px;
    }
    .myaccount{
        margin-right: 3px;
    }
    .menu-button{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 7px;
    }
    .menu-button:before{
        width: 30px;
        height: 30px;
        text-align: center;
        font: 30px 'fontawesome';
        line-height: 30px;
        content: "\f0c9";
        position: absolute;
        top: 5px;
        left: 5px;
        color: #777;
    }
    #menu-wrapper{
        position: fixed;
        width: 86%;
        margin-top: 60px;
        top: 0;
        left: 0;
        height: 100%;
        padding-bottom: 100px;
        background: #fff;
        border-right: 1px solid #d4dae4;
        padding-top: 10px;
        transform: translate3d(-100%, 0px, 0px);
        -webkit-transform: translate3d(-100%, 0px, 0px);
        transition: -ms-transform 0s ease 0s, transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        -webkit-transition: -ms-transform 0s ease 0s, transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    #menu-wrapper.open{
        transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
    }
    #menu-wrapper > ul{
        border-bottom: none;
        text-align: left;
    }
    #menu-wrapper > ul > li{
        display: block;
    }
    #menu-wrapper ul li a{
        display: block;
        border-bottom: none;
        padding: 12px;
        color: #00acf3;
        font-weight: 700;
        height: auto;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
    }
    #menu-wrapper > ul > li > a:hover{
        color: #0080b5;
    }
    #menu-wrapper > ul > li > ul > li > a{
        padding-left: 24px;
        color: #00ACF3;
    }
    #cart{
        top: 60px;
    }
    .cart-empty button{
        width: 100%;
    }
    .main-page{
        padding-top: 60px;
    }
    #left-col{
       /* display: none;*/
        height: 100%;
    }
    .menu-closed #left-col {
        left: -320px;
    }
    #left-col .navigation-icon{
        display: none;
    }
    #middle-col{
        width: 100%;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }
    .service-section{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 340px) {
    .header-top p{
        font-size: 11px;
    }
    .logo{
        width: 130px;
        margin-top: 4px;
    }
}
@media only screen and (max-width: 991px) {
    #menu-wrapper .submenu > ul {
        padding: 24px 40px;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        width: auto;
    }

}
@media (min-width: 768px) and (max-width: 1199px) {
    #middle-col {
        -webkit-transform: translate(320px,0);
        -ms-transform: translate(320px,0);
        transform: translate(320px,0);
    }
    body:not(.menu-closed) #middle-col {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        left: 320px;
        width: calc(100% - 320px);
    }
    body:not(.menu-closed) #middle-col .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}
@media only screen and (min-width: 1200px){
    #middle-col {
        -webkit-transform: translate(300px,0);
        -ms-transform: translate(300px,0);
        transform: translate(300px,0);
    }

    body:not(.menu-closed) #middle-col {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        left: 320px;
        width: calc(100% - 320px);
    }
    body:not(.menu-closed) #middle-col .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .container {
        width: 880px;
    }
}

@media (min-width: 1200px) and (max-width: 1365px){
    .container {
        width: 1100px;
    }
}
@media (min-width: 1366px){
    .container {
        width: 1200px;
    }
}

.catalog-category-view  #middle-col .breadcrumbs{
    padding-left: 40px;
}
.catalog-category-view #middle-col .page-title{
    padding-left: 40px;
}
.catalog-category-view #middle-col .category-products{
    margin: 0 40px;
}
