
<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>

<?php if(count($this->getStores())>1): ?>
<div class="dropdown block-language-wrapper">

  <?php $storecode = Mage::app()->getStore()->getCode(); ?>
  <a href="#" class="block-language dropdown-toggle" data-target="#" data-toggle="dropdown" role="button"> <img src="<?php echo $this->getSkinUrl('images/flags/'.$storecode.'.png') ?>" alt="<?php echo $storecode; ?>"/> <?php echo Mage::app()->getStore()->getName(); ?> <span class="caret"></span> </a>
  
   <ul role="menu" class="dropdown-menu">        
        <?php foreach ($this->getStores() as $_lang): ?>       
            <li role="presentation"><a href="<?php echo $_lang->getCurrentUrl();?>" tabindex="-1" role="menuitem">
               <img src="<?php echo $this->getSkinUrl('images/flags/'.$this->htmlEscape($_lang->getCode()).'.png') ?>" alt="<?php echo $this->htmlEscape($_lang->getName()) ?>" />
               <?php echo $this->htmlEscape($_lang->getName()) ?>
            </a></li>         
        <?php endforeach;?>
   </ul>
</div> <!--dropdown block-language-wrapper-->

<?php endif;?>