<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<ul id="nav" class="left-col-nav">
<?php foreach($_categories as $_category): ?>
	<?php $class = $this->getCurrentCategory()->getId() == $_category->getId() ? ' active' : ''; ?>
	<li class="level-top<?php echo $classs ?>">
		<a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><span><?php echo $_category->getName() ?></span></a>
	</li>
<?php endforeach; ?>
</ul>