<?php $_helper = Mage::helper('catalog/category');?>      
<?php $_categories = $_helper->getStoreCategories();?>

<!-- BEGIN SIDE-NAV-CATEGORY -->  
<div class="side-nav-categories">
<div class="block-title">
<?php echo $this->__('Categories');?>
</div><!--block-title-->
<?php if (count($_categories) > 0):  ?>
<!-- BEGIN BOX-CATEGORY -->  
<div class="box-content box-category">
<ul>
xxx
<?php 
$i=0;
foreach($_categories as $_category): ?>
<li>
        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
        <?php $_subcategories = $_category->getChildrenCategories() ?>


        <?php if($this->getCurrentCategory()->getId()==$_category->getId()) { ?>
                <a class="active" href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a>
                <?php if (count($_subcategories) > 0): ?><span class="subDropdown minus"></span> <?php endif; ?>

        <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
                <a class="active" href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a>
                <?php if (count($_subcategories) > 0): ?><span class="subDropdown minus"></span> <?php endif; ?>

        <?php } else { ?>
                <a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a>
                <?php if (count($_subcategories) > 0): ?><span class="subDropdown plus"></span> <?php endif; ?>
        <?php } ?> <!-- root -->

        <?php if (count($_subcategories) > 0): ?>

           <ul class="level0_<?php echo $_category->getId();?>" 
              <?php if($this->getCurrentCategory()->getId()==$_category->getId()){?>
              style="display:block"
              <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
              style="display:block"
              <?php } else {?>
              style="display:none"
              <?php } ?>>
            <?php foreach($_subcategories as $_subcategory): ?>
              <li class="level1">

                <?php $_category1 = Mage::getModel('catalog/category')->load($_subcategory->getId())?>
                <?php $_subcategories_l1 = $_category1->getChildrenCategories() ?>

                <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>" >                              
                    <?php echo $_subcategory->getName() ?>                                            
                </a>

                <?php if (count($_subcategories_l1) > 0): ?>

                    <?php if($this->getCurrentCategory()->getId()==$_category->getId()){?>
                       <span class="subDropdown plus"></span>

                    <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
                        <span class="subDropdown minus"></span>

                    <?php } else { ?>
                       <span class="subDropdown minus"></span>
                    <?php } ?>
                <?php endif; ?>

                <?php if (count($_subcategories_l1) > 0) { ?>
                   <ul class="level1" 
                   <?php if($this->getCurrentCategory()->getId()==$_category->getId()){?>
              style="display:none"
              <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
              style="display:block"
              <?php } else { ?>
              style="display:none"
              <?php } ?>>
                      <?php foreach($_subcategories_l1 as $_subcategories_l1_l1){ ?>
                         <li class="level2">

                <?php $_category2 = Mage::getModel('catalog/category')->load($_subcategories_l1_l1->getId())?>
                <?php $_subcategories_l2 = $_category2->getChildrenCategories() ?>

                <a href="<?php echo $_helper->getCategoryUrl($_subcategories_l1_l1) ?>" >                              
                    <?php echo $_subcategories_l1_l1->getName() ?>                                            
                </a>

                <?php if (count($_subcategories_l2) > 0): ?>
                    <?php if($this->getCurrentCategory()->getId()==$_category->getId()){?>
                       <span class="subDropdown plus"></span>

                    <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
                        <span class="subDropdown minus"></span>

                    <?php } else { ?>
                       <span class="subDropdown minus"></span>
                    <?php } ?>
                <?php endif; ?>

 <ul class="level2" 
                   <?php if($this->getCurrentCategory()->getId()==$_category->getId()){?>
              style="display:none"
              <?php } elseif(($this->getCurrentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getId()==$_category->getId()) || ($this->getCurrentCategory()->getParentCategory()->getParentCategory()->getId()==$_category->getId())) { ?>
              style="display:block"
              <?php } else { ?>
              style="display:none"
              <?php } ?>>
<?php foreach($_subcategories_l2 as $_subcategories_l1_l2){ ?>
                        <li class="level3">

                <a href="<?php echo $_helper->getCategoryUrl($_subcategories_l1_l2) ?>" >                              
                    <?php echo $_subcategories_l1_l2->getName() ?>                                            
                </a>

                        </li> <!--level3-->
                      <?php } ?><!--end for-each --> 
 </ul> <!--level2-->
                            
                         </li> <!--level2-->
                      <?php } ?><!--end for-each -->   
                   </ul> <!--level1-->
                <?php } ?> 

              </li><!--level1-->
            <?php endforeach; ?>
         </ul><!--level0-->

      <?php endif; ?>  <!--(count($_subcategories) > 0)-->
</li><!--level 0-->
<?php 
endforeach; ?>
</ul>
</div><!--box-content box-category-->
<?php endif; ?>
</div><!--side-nav-categories-->