<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $cookies = Mage::getModel('core/cookie')->get('allexpress');?>

<?php
    $currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
    $currentPath = $url->getPath();
    $pathStr = explode("/", $currentPath);
    $currentCategory = $pathStr[1];
    $currentSubCategory = "";

    switch (count($pathStr)){
        case 1:
            break;
        case 3:
            $currentSubCategory = $pathStr[1];
            break;
        case 4:
            $currentSubCategory = $pathStr[2];
            break;
        default:
            break;
    }
?>
<div id="menu">
    <ul class="navmenu">
        <li>
            <div class="menutop" style="display: none;">
                <div class="toggle"> <span class="icon-bar" id="default-icon"></span> <span class="icon-bar" id="default-icon"></span> <span class="icon-bar" id="default-icon"></span></div>
                <h2><?php echo $this->__('Menu') ?></h2>
            </div>
            <ul class="submenu">
                <li>
                    <ul class="topnav" id="saroj" >
						<?php if(!$cookies): ?>
							<li>
                                <?php $imgUrl = Mage::getBaseUrl('media') . 'catalog/category/food.png'; ?>
                                <a class="menu-icon">
                                    <img src="<?php echo $imgUrl ?>" alt="Fresh Express">
                                </a>
								<a href="#allexpress" class="ms-label anchor_text" id="all-express-cat" data-modal="" data-url="<?php echo Mage::getUrl().'fresh-express'; ?>" title="FRESH EXPRESS">
									<span>FRESH EXPRESS</span>
								</a>
							</li>
						<?php endif; ?>
                        <?php foreach($_categories as $_category): ?>
							<?php if($cookies): ?>
                                <?php
                                    $fullUrl = parse_url($_helper->getCategoryUrl($_category));
                                    $url_path = $fullUrl['path'];
                                    $url_path = str_replace("/", "", $url_path);
                                ?>

								<?php if($_category->getId() == 14): ?>
										<li class="<?php if($currentCategory == $url_path){ echo 'expand'; } ?> active">
								<?php else: ?>
										<li <?php if($currentCategory == $url_path){ echo ' class="expand"'; } ?>>
								<?php endif; ?>
										<?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
										<?php if ($_category->getMenuIcon()): ?>
											<?php $imgUrl = Mage::getBaseUrl('media') . 'catalog/category/' . $_category->getMenuIcon(); ?>
											<a class="menu-icon">
												<img src="<?php echo $imgUrl ?>" alt="<?php echo $_category->getName() ?>">
											</a>
										<?php endif; ?>

										<a href="<?php echo $_helper->getCategoryUrl($_category) ?>" title="<?php echo $_category->getName() ?>"><?php echo $_category->getName() ?></a>
										<?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
										<?php if($_category->hasChildren()):?>
										<?php $_subcategories = $_category->getChildrenCategories() ?>
											<ul <?php if($currentCategory == $url_path){ echo 'style="display:block" class="expand"'; } ?>>
												<?php foreach($_subcategories as $_subcategory): ?>
													<li>
                                                        <?php
                                                            $fullSubUrl = parse_url($_helper->getCategoryUrl($_subcategory));
                                                            $url_sub_path = $fullSubUrl['path'];
                                                            $url_sub_path = explode("/", $url_sub_path);
                                                            $url_sub_path = $url_sub_path[count($url_sub_path) - 1];
                                                        ?>
														<a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"><?php echo $_subcategory->getName() ?></a>
														<?php $_category2 = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
														<?php if($_category2->hasChildren()):?>
														<?php $_subcategories2 = $_category2->getChildrenCategories() ?>
															<ul <?php if($currentSubCategory == $url_sub_path){ echo 'style="display:block" class="expand"'; } ?>>
																<?php foreach($_subcategories2 as $_subcategory2): ?>
																	<li>
																		<a href="<?php echo $_helper->getCategoryUrl($_subcategory2) ?>"><?php echo $_subcategory2->getName() ?></a>
																	</li>
																<?php endforeach; ?>
															</ul>
														<?php endif; ?>
													</li>
												<?php endforeach; ?>
											</ul>
										<?php endif; ?>
									</li>
								<?php else: ?>
                                    <?php
                                        $fullUrl = parse_url($_helper->getCategoryUrl($_category));
                                        $url_path = $fullUrl['path'];
                                        $url_path = str_replace("/", "", $url_path);
                                    ?>
									<?php if($_category->getId() != 14): ?>
										<li <?php if($currentCategory == $url_path){ echo ' class="expand"'; } ?>>
											<?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
											<?php if ($_category->getMenuIcon()): ?>
												<?php $imgUrl = Mage::getBaseUrl('media') . 'catalog/category/' . $_category->getMenuIcon(); ?>
												<a class="menu-icon" href="<?php echo $_helper->getCategoryUrl($_category) ?>">
													<img src="<?php echo $imgUrl ?>" alt="<?php echo $_category->getName() ?>">
												</a>
                                                <?php
                                                    $fullUrl = parse_url($_helper->getCategoryUrl($_category));
                                                    $url_path = $fullUrl['path'];
                                                    $url_path = str_replace("/", "", $url_path);
                                                ?>

											<?php endif; ?>
											<a href="<?php echo $_helper->getCategoryUrl($_category) ?>" title="<?php echo $_category->getName() ?>"><?php echo $_category->getName() ?></a>
											<?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
											<?php if($_category->hasChildren()):?>
											<?php $_subcategories = $_category->getChildrenCategories() ?>
												<ul <?php if($currentCategory == $url_path){ echo 'style="display:block" class="expand"'; } ?>>
													<?php foreach($_subcategories as $_subcategory): ?>
														<li>
                                                            <?php
                                                                $fullSubUrl = parse_url($_helper->getCategoryUrl($_subcategory));
                                                                $url_sub_path = $fullSubUrl['path'];
                                                                $url_sub_path = explode("/", $url_sub_path);
                                                                $url_sub_path = $url_sub_path[count($url_sub_path) - 1];
                                                            ?>
															<a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"><?php echo $_subcategory->getName() ?></a>
															<?php $_category2 = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
															<?php if($_category2->hasChildren()):?>
															<?php $_subcategories2 = $_category2->getChildrenCategories() ?>
																<ul <?php if($currentSubCategory == $url_sub_path){ echo 'style="display:block" class="expand"'; } ?>>
																	<?php foreach($_subcategories2 as $_subcategory2): ?>
																		<li>
																			<a href="<?php echo $_helper->getCategoryUrl($_subcategory2) ?>"><?php echo $_subcategory2->getName() ?></a>
																		</li>
																	<?php endforeach; ?>
																</ul>
															<?php endif; ?>
														</li>
													<?php endforeach; ?>
												</ul>
											<?php endif; ?>
										</li>
									<?php endif; ?>								
							<?php endif; ?>
                        <?php endforeach; ?>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> <!--navmenu-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        if(!jQuery("body").hasClass("menu-closed")){
            jQuery(".topnav li.expand > em").html("-");
            jQuery(".topnav ul.expand li ul.expand").prev("em").html("-");
        }
    });

    jQuery(document).ready(function () {
        jQuery(".icon-arrow-nav").click(function () {
            jQuery("#saroj li ul").css("display", "none");
            jQuery("#saroj li ul li ul").css("display", "none");
            if(!jQuery("body").hasClass("menu-closed")){
                jQuery(".topnav em").html("+");
                //jQuery(".topnav ul.expand li ul.expand").prev("em").html("+");
            }
        });

        jQuery("#saroj li a").click(function(){
            if(jQuery("body").hasClass("menu-closed")){
                jQuery("body").removeClass("menu-closed");
                return false;
            }
        });

    });
</script>

