<?php
$_helper = Mage::helper('catalog/category');
$_categories = $_helper->getStoreCategories(false, true);
?>
<div id="menu-wrapper">
	<?php  echo $this->getLayout()->createBlock('megamenu/megamenu')->setTemplate('ms/megamenu/topmenu.phtml')->tohtml(); ?>
    <!--<ul>
        <?php foreach($_categories as $_category): ?>
            <?php
            $includeCategories = array("All Products", "Best Sellers", "Whats New", "On Sale", "All Express");
            if (!in_array($_category->getName(), $includeCategories)) continue;
            ?>
            <li>
                <?php $children = $_category->getChildrenCategories(); ?>
                <?php if($_category->getName() == "All Express"): ?>
                    <a href="#allexpress" id="all-express-cat" data-url="<?php echo $_category->getUrl() ?>" rel="modal:open" title="<?php echo $_category->getName() ?>">
                        <span><?php echo $_category->getName() ?></span>
                        <?php if ($children->count()): ?>
                            <i class="icon icon-arrow-down-filled"></i>
                        <?php endif; ?>
                    </a>
                <?php else: ?>
                    <a href="<?php echo $_helper->getCategoryUrl($_category) ?>" title="<?php echo $_category->getName() ?>">
                        <span><?php echo $_category->getName() ?></span>
                        <?php if ($children->count()): ?>
                            <i class="icon icon-arrow-down-filled"></i>
                        <?php endif; ?>
                    </a>
                <?php endif; ?>

                <?php if ($children->count()): ?>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a href="<?php echo $_helper->getCategoryUrl($_category) ?>" title="<?php echo $_category->getName() ?>">View <?php echo $_category->getName() ?></a>
                            </li>
                            <?php foreach ($children as $lv2): ?>
                                <li>
                                    <a href="<?php echo $_helper->getCategoryUrl($lv2) ?>" title="<?php echo $lv2->getName() ?>"><?php echo $lv2->getName() ?></a>
                                    <?php $lv2Children = $lv2->getChildrenCategories(); ?>
                                    <?php if ($lv2Children->count()): ?>
                                        <ul>
                                            <?php foreach ($lv2Children as $lv3): ?>
                                                <li><a href="<?php echo $_helper->getCategoryUrl($lv3) ?>" title="<?php echo $lv3->getName() ?>"><?php echo $lv3->getName() ?></a></li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>-->
</div>
