<?php
    $columnNumber = $this->getColumnNumber();
    $parrent_categories = $this->getParentCategories();
    if ($parrent_categories->getSize() < $columnNumber) {
        $columnNumber = $parrent_categories->getSize();    
    }elseif($columnNumber>12){
        $columnNumber = 12;
    }
    $data = $this->getAllCategory($columnNumber);
    $col_index = floor(12/$columnNumber);
    switch ($columnNumber) {
        case 5:$col_index = 24;
                break;
        case 7:$col_index = 14;
                break;  
        case 8:$col_index = 125;
                break;
        case 9:$col_index = 111;
            break; 
        case 10:$col_index = 100;
            break; 
        case 11:$col_index = 909;
                break; 
        default:
            break;
    }
    
?>
<?php 
	$cookies = Mage::getModel('core/cookie')->get('allexpress');
	$id = array(14, 26, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 27, 28, 29, 30, 31);
?>

    <?php if (count($this->getCategories())): ?>    
        <div class="ms-category col-xs-12">
            <?php if($this->getItem()->getCategoriesBoxTitle()): ?><strong class="ms-boxtitle form-group col-xs-12"><?php echo $this->getItem()->getCategoriesBoxTitle(); ?></strong><?php endif; ?>
            <?php foreach ($data as $categories): ?>  
                <div class="col-category col-xs-<?php echo $col_index ?>">
                <?php foreach ($categories as $category): ?>  
					<?php if(!$cookies): ?>
						
						<?php if(!in_array($category->getId(), $id)):?>
							<a class="form-group <?php echo Mage::helper('megamenu')->setLevel($category->getLevel()); ?>" href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a>
						<?php endif;?>
					<?php else: ?>
							<a class="form-group <?php echo Mage::helper('megamenu')->setLevel($category->getLevel()); ?>" href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a>
					<?php endif; ?>
                <?php  endforeach; ?>
                </div>
            <?php  endforeach; ?>
        </div>
    <?php endif; ?>
