<?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_products/related_product')): ?>

<?php if($this->getItems()->getSize()): ?>
<!-- BEGIN CATEGORY PRODUCTS -->
<div class="related-pro wow bounceInUp animated">
  <div class="slider-items-products">
  <div class="new_title center">
      <h2><?php echo $this->__('Related Products') ?></h2>
  </div> <!--new_title center-->
    <div id="related-products-slider" class="product-flexslider hidden-buttons">
      <div class="slider-items slider-width-col4"> 

       <?php foreach($this->getItems() as $_item): ?>
            <div class="item">
<div class="col-item">
      <div class="item-img">
        <div class="item-img-info">
           <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(268,325) ?>" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
           <?php echo $this->helper('astrabootstrapsettings')->getLabel($_item);  ?>
           <div class="item-box-hover">
              <div class="box-inner">
                 <div class="product-detail-bnt">
                    <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_quickview/enable')==1){?>
                       <a data-fancybox-type="ajax" onclick="callQuickView('<?php echo Mage::getUrl('astrabootstrapsettings/index/view/id/'.$_item->getId());?>');" title="<?php echo $this->__('Quick View') ?>" class="button detail-bnt"><span><?php echo $this->__('Quick View')?></span></a>                    
                    <?php } ?>                       
                 </div> <!--product-detail-bnt-->
              </div> <!--box-inner-->
           </div> <!--item-box-hover-->
        </div> <!--item-img-info-->
      </div> <!--item-img-->

      <div class="item-info">
        <div class="info-inner">
          <div class="item-title">
             <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
                  <?php $prod_name = $this->htmlEscape($_item->getName()) ; 
                  if(strlen($prod_name) > 30) {echo substr($prod_name,0,30)."...";}else {echo $prod_name;}?>
             </a>
          </div> <!--item-title-->
          <div class="item-content">
            <?php
                        $summaryData = Mage::getModel('review/review_summary')
                                ->setStoreId($storeId)
                                ->load($_item->getId());
                        if($summaryData->getRatingSummary()){ ?>
                            <div class="ratings">
                                <div class="rating-box">
                                        <div class="rating" style="width: <?php echo $summaryData->getRatingSummary().'%'; ?>"></div>
                                </div> <!--rating-box-->
                            </div> <!--ratings-->
                    <?php } else { ?>  
                            <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                    <?php } ?>
            <div class="item-price"><?php echo $this->getPriceHtml($_item, true, '-related') ?></div>
          </div> <!--item-content-->
        </div> <!--info-inner-->
        <div class="actions">
         <span class="add-to-links">
            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist');?>"><span><?php echo $this->__('Add to Wishlist');?></span></a>
            <?php if($_item->isSaleable()): ?>
              <button type="button"  title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
            <?php else: ?>
              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare');?>"><span><?php echo $this->__('Add to Compare');?></span></a>
         </span> <!--add-to-links-->
        </div> <!--actions-->
      </div> <!--item-info-->                                   
   </div> <!--col-item-->
            </div> <!-- item -->
             <?php endforeach; ?>  
             
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
  
      </div> <!--slider-items slider-width-col4 -->
    </div> <!--related-products-slider-->
  </div> <!--slider-items-products-->

   
<div id="mgkquickview">
<div id="magikloading" style="display:none;text-align:center;margin-top:400px;"><img src="<?php echo $this->getSkinUrl('images/mgkloading.gif');?>" alt="loading">
</div></div>
<script type="text/javascript">
function callQuickView(qurl) { 
    jQuery('#mgkquickview').show();
    jQuery('#magikloading').show();
    jQuery.get(qurl, function(data) {
      jQuery.fancybox(data);
      jQuery('#magikloading').hide();
jQuery('#mgkquickview').hide();
    });
 }
 
</script>

</div> <!--related-pro wow bounceInUp animated-->

<?php endif; ?>  <!-- end related product -->

<?php endif; ?>

      
                


