
<?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_products/upsell_product')): ?>

<?php if(count($this->getItemCollection()->getItems())): ?>
<div class="upsell-pro wow bounceInUp animated">
  <div class="slider-items-products">
  <div class="new_title2 center">
    <h2><?php echo $this->__('CUSTOMERS ALSO BOUGHT') ?></h2>
  </div> <!--new_title center-->

<div id="upsell-products-slider" class="product-flexslider hidden-buttons">
    <div class="slider-items slider-width-col4"> 

    <?php // $this->setColumnCount(5); // uncomment this line if you want to have another number of columns. also can be changed in layout ?>
    <?php $this->resetItemsIterator() ?>
    <?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
        <?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
            <?php if($_link=$this->getIterableItem()): ?>

 <div class="item">
<div class="col-item">
      <div class="item-img">
        <div class="item-img-info">
           <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image') ?>" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" /></a>
           <?php echo $this->helper('astrabootstrapsettings')->getLabel($_link);  ?>
           <div class="item-box-hover">
              <div class="box-inner">
                 <div class="product-detail-bnt">
                    <?php if(Mage::app()->getStore()->getConfig('astrabootstrapsettings/astrabootstrapsettings_quickview/enable')==1){?>
                       <a data-fancybox-type="ajax" onclick="callQuickView('<?php echo Mage::getUrl('astrabootstrapsettings/index/view/id/'.$_link->getId());?>');" title="<?php echo $this->__('Quick View') ?>" class="button detail-bnt"><span><?php echo $this->__('Quick View')?></span></a>                    
                    <?php } ?>                       
                 </div> <!--product-detail-bnt-->
              </div> <!--box-inner-->
           </div> <!--item-box-hover-->
        </div> <!--item-img-info-->
      </div> <!--item-img-->

      <div class="item-info">
        <div class="info-inner">
          <div class="item-title">
             <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>">
                  <?php $prod_name = $this->htmlEscape($_link->getName()) ; 
                  if(strlen($prod_name) > 30) {echo substr($prod_name,0,30)."...";}else {echo $prod_name;}?>
             </a>
          </div> <!--item-title-->
          <div class="item-content">
            <?php
                        $summaryData = Mage::getModel('review/review_summary')
                                ->setStoreId($storeId)
                                ->load($_link->getId());
                        if($summaryData->getRatingSummary()){ ?>
                            <div class="ratings">
                                <div class="rating-box">
                                        <div class="rating" style="width: <?php echo $summaryData->getRatingSummary().'%'; ?>"></div>
                                </div> <!--rating-box-->
                            </div> <!--ratings-->
                    <?php } else { ?>  
                            <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                    <?php } ?>
            <div class="item-price"><?php echo $this->getPriceHtml($_link, true) ?></div>
          </div> <!--item-content-->
        </div> <!--info-inner-->
        <div class="actions">
         <span class="add-to-links">
            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_link) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist');?>"><span><?php echo $this->__('Add to Wishlist');?></span></a>
            <?php if($_link->isSaleable()): ?>
              <button type="button"  title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
            <?php else: ?>
              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare');?>"><span><?php echo $this->__('Add to Compare');?></span></a>
         </span> <!--add-to-links-->
        </div> <!--actions-->
      </div> <!--item-info-->                                   
   </div> <!--col-item-->        
            </div> <!-- item --> 
            <?php endif; ?>

        <?php endfor; ?> 
    <?php endfor; ?>

<!--<script type="text/javascript">decorateTable('upsell-product-table')</script>-->
  
<!--<div id="mgkquickview">
<div id="magikloading" style="display:none;text-align:center;margin-top:400px;"><img src="<?php /*echo $this->getSkinUrl('images/mgkloading.gif');*/?>" alt="loading">
</div></div>
<script type="text/javascript">
function callQuickView(qurl) { 
    jQuery('#mgkquickview').show();
    jQuery('#magikloading').show();
    jQuery.get(qurl, function(data) {
      jQuery.fancybox(data);
      jQuery('#magikloading').hide();
jQuery('#mgkquickview').hide();
    });
 }
 
</script>-->

      </div> <!--slider-items slider-width-col4 -->
    </div> <!--upsell-products-slider-->
  </div> <!--slider-items-products-->
</div> <!--upsell-pro wow bounceInUp animated-->

<?php endif ?>

<?php endif; ?> 