<?php $footer_type = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance/footer'); ?>

<footer class="footer bounceInUp animated">

  <!-- Logo Brand Block -->
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_logo_brand_block')->toHtml() ?>

<!-- Footer Newsletter -->
<?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe_footer.phtml')->toHtml() ; ?>

<div class="footer-type <?php echo $footer_type;?>">

<!-- BEGIN INFORMATIVE FOOTER -->  
  <?php switch ($footer_type) {
      case 'informative' :
          ?>
<div class="footer-middle">
  <div class="container">
    <div class="row">
       <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_footer_about_us')->toHtml() ?>
       <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_footer_information_links_block')->toHtml() ?>

         <div class="col-md-3 col-sm-4">
     
    <?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/social_link')) { ?>
    <div class="social">
       <h4><?php echo $this->__('Follow Us') ?></h4>
       <ul class="link">
        <?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/facebook_social_link')) { ?>
          <li class="fb"><a  target="_blank" rel="nofollow" href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/facebook_social_link_path') ?>" title="<?php echo $this->__('Facebook');?>"></a></li>
        <?php } 
              if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/twitter_social_link')) {
        ?>
          <li class="tw"><a target="_blank" rel="nofollow"  href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/twitter_social_link_path') ?>" title="<?php echo $this->__('Twitter');?>"></a></li>
        <?php } 
              if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/googleplus_social_link')) {
        ?>
          <li class="googleplus"><a target="_blank" rel="nofollow" href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/googleplus_social_link_path') ?>" title="<?php echo $this->__('GooglePlus');?>"></a></li>
        <?php } 
              if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/rss_social_link')) {
        ?>
          <li class="rss"><a target="_blank" rel="nofollow" href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/rss_social_link_path') ?>" title="<?php echo $this->__('RSS');?>"></a></li>
        <?php } 
              if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/pinterest_social_link')) {
        ?>
          <li class="pintrest"><a target="_blank" rel="nofollow" href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/pinterest_social_link_path') ?>" title="<?php echo $this->__('PInterest');?>"></a></li>
        <?php } 
             
        ?>
          
        <?php  
              if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/youtube_social_link')) {
        ?>
          <li class="youtube"><a target="_blank" rel="nofollow" href="<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_social/youtube_social_link_path') ?>" title="<?php echo $this->__('Youtube');?>"></a></li>
        <?php } ?>
       </ul>
    </div> <!--social-->
    <?php } ?>
    <br />
    <br />
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_footer_payment_method_block')->toHtml() ?>
  </div> <!--col-md-3 col-sm-4-->
    </div> <!--row-->
  </div> <!--container-->
</div> <!--footer-middle-->
</div> <!--footer-type-->
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_footer_links')->toHtml() ?>
<!-- BEGIN SIMPLE FOOTER -->  
          <?php
          break;
      case 'simple' :
      default: ?>     
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_footer_links')->toHtml() ?>
     <?php     
  }
  ?> 

</footer>

<div class="orange-slider">
  <div class="text alignleft"><?php echo $this->__('Need Help?') ?></div>
  <div class="icons">
    <a  class="show_hide" id="questionbox-side-phonebutton" href="javascript:void(0)"><i class="icon-phones"></i></a>
    <a class="show_hide1" id="questionbox-side-emailbutton" href="javascript:void(0)"><i style="font-size:20px" class="icon-email"></i></a> 
  </div> <!--icons-->
</div> <!--orange-slider-->

<div id="hideShow" style="text-align:left;display:none">
<div class="right-side-content hidden1">
   <!--Contact Static Block -->
   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_rhs_contact_form_block')->toHtml() ?> 
   <a href="javascript:void(0)" id="hideDiv" class="slider-close"></a>
</div> <!--right-side-content hidden1-->
</div> <!--#hideShow-->

<!-- Contact Us Form -->
<?php echo $this->getChildHtml('contactForm') ?>

<script type='text/javascript'>

jQuery('.show_hide').click(function(){
            jQuery("#hideShow").show(); 
            jQuery("#hideShow1").hide();
        });

jQuery('.show_hide1').click(function(){
            jQuery("#hideShow1").show();
            jQuery("#hideShow").hide(); 
        });

jQuery('#hideDiv').click(function(){
            jQuery("#hideShow").hide(); 
        });

jQuery('#hideDiv1').click(function(){
            jQuery("#hideShow1").hide(); 
        });

</script>

<?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_footer/footer_google_analytics')): ?>
<?php echo Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_footer/footer_google_analytics_path') ?>       
<?php endif; ?>
