<?php
/* Header */
?>

<header class="header-container">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div style="width:100%; text-align:center; color:#FFFFFF; height:30px;line-height:30px;">
                    <p><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap-home-toplinks-block')->toHtml() ?></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="menu-button">&nbsp;</div>
        <div class="top-search">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <div class="logo">
            <a class="logo" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><?php echo $this->getChildHtml('astrabootstrapLogo', false) ?></a>
        </div>
        <div class="account-cart">
			<div class="postcode-express">
				<?php $cookies = Mage::getModel('core/cookie')->get('allexpress'); ?>
                <?php if ($cookies): ?>
                    <a id="postcode-fresh" href="#"><i class="icon icon-location"></i><span><?php echo $cookies; ?></span></a>
                    <?php else: ?>
                    <a href="#allexpress" id="postcode-fresh" data-modal><i class="icon icon-location"></i><span>2000</span></a>
                <?php endif; ?>
			</div>
            <div class="myaccount">
                <a href="<?php echo $this->getUrl('customer/account'); ?>" title="My Account">
                    <i class="icon icon-avatar"></i>
                    <span><?php echo $this->__('My Account') ?></span>
                </a>
            </div>
            <?php if (Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_shoppingcart/shoppingcart_top')): ?>
                <div class="mycart">
                    <?php echo $this->getChildHtml('cartTop') ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="header-menu">
        <?php echo $this->getChildHtml('topMenu') ?>		
    </div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('allexpress_popup')->toHtml() ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('astrabootstrap_popup_allexpress')->toHtml() ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('freshexpress_description_popup')->toHtml() ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('boxed_description_popup')->toHtml() ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('checkout_description_popup')->toHtml() ?>
</header>
<?php $freshPostcode = Mage::getStoreConfig('ddate/info/postcode'); ?>
<script type="text/javascript">
    var allexpressForm = new VarienForm('form-all-express');
	var allexpressFormNotMatch = new VarienForm('form-all-express-not-match');
    jQuery(document).ready(function(){
        if (typeof(allexpressForm) != undefined) {
            allexpressForm.submit = function() {
                if (this.validator&&this.validator.validate()) {
					var temp = "<?php echo $freshPostcode; ?>";
					var myarray = new Array();
					myarray = temp.split(",").map(Number);
					var postCode = parseInt(jQuery('#postcode-express').val());
					if(myarray.includes(postCode) === true) {
						Mage.Cookies.clear('allexpress');
						Mage.Cookies.set('allexpress', jQuery('#postcode-express').val());
						window.location.href = jQuery('#all-express-cat').attr('data-url');
						return false;
					} else {
						jQuery('#all-express-box').hide();
						jQuery('#all-express-box2').hide();
						jQuery('#fieldykvdly').val(jQuery('#postcode-express').val());
						jQuery('#all-express-not-match').show();
					}                    
                }
            }
        }
		/*if (typeof(allexpressFormNotMatch) != undefined) {
            allexpressFormNotMatch.submit = function() {
                if (this.validator&&this.validator.validate()) {										
					window.location.href = jQuery('#home-page').attr('data-url');
					return false;
				}                    
			}
        }*/
		var cookiesValue = '<?php echo $cookies; ?>';
		if(!cookiesValue){
			if(window.location.href.indexOf("fresh-express") > -1) {
				window.location.href = 'https://auswarehouse.com.au';
			}
		}
			
	});

    jQuery(function($) {
		$("#postcode-fresh").on('click', function() {
			var newUrl = "https://auswarehouse.com.au/fresh-express";
           $('#allexpress').fadeIn();
		   jQuery("#email-express").hide();
		   jQuery('#all-express').attr("id","all-express-cat");
		   jQuery('#all-express-cat').attr( "data-url" , newUrl );
        });
        /*$("#all-express-cat").on('click', function() {
           $('#allexpress').fadeIn();
        });
        $('.close-model').on('click', function() {
            $('#allexpress').fadeOut();
        });*/
		
        jQuery('a[data-modal]').click(function(e) {
            jQuery(this).modal({
                fadeDuration: 250
            });
            return false;
        });

        jQuery('#buttonGreen').click(function(e) {
            jQuery("#checkout-desc-popup").modal({
                fadeDuration: 250
            });
            return false;
        });

		$("#checkout_wait_button").on('click', function() {
           $('#checkout_wait').fadeIn();
        });
        $('.close-modal-checkout').on('click', function() {
            $('#checkout_wait').fadeOut();
        });

        $('.top-search .icon-search2, .top-search .placeholder').click(function() {
            var header = $('header');
            if (!header.hasClass('search-open')) {
                setTimeout(function() {
                    $('#search').focus();
                }, 200);
            }
            header.toggleClass('search-open');
        });
        $('.top-search .icon-close').click(function() {
            $('header').removeClass('search-open');
        });
        $('.dropdown-toggle').click(function() {
            $('#cart').toggleClass('expanded');
        });
        $('body, .cart-empty button').click(function(e) {
            if ($(e.target).is(".modal-container") || $(".modal-container").has(e.target).length ) {
                // do nothing
            }else{
                $('#cart').removeClass('expanded');
            }
        });
		$(document).scroll(function() {
		  var y = $(this).scrollTop();
		  if (y > 800) {
			 $('#cart').removeClass('expanded');
		  }
		});
		
        $('.mycart').click(function(e) {
            e.stopPropagation();
        });
		$('#allexpress .close-modal').click(function() {
            $('#allexpress').hide(); 
        });
        /*$(window).scroll(function() {
            if ($('#cart').hasClass('expanded')) {
                setTimeout(function() {
                    $('#cart').removeClass('expanded');
                }, 200);
            }
        });*/
        $('#left-col .navigation-icon').click(function() {
            $.get('<?php echo Mage::getBaseUrl() ?>menu_cookie.php?r=' + Math.random(), function() {
                $('body').toggleClass('menu-closed');

            });
        });
    });
</script>