<?php $config = Mage::getStoreConfig('astrabootstrapsettings/astrabootstrapsettings_appearance'); ?>

<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $config['font']); ?>:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://auswarehouse.com.au/skin/frontend/rwd/astrabootstrap/css/secondary.css" media="all" />


<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->
<script type="text/javascript">
var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
var SKIN_URL = '<?php echo $this->helper('core/js')->getJsSkinUrl('') ?>';
</script>
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>

<?php if(($config['width']=='fixed')) { ?>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl(); ?>css/styles-fixed.css" type="text/css" />
<?php } ?>

<style type="text/css">
/*  update google Font  */
/*.top-cart-content .block-subtitle,.mini-cart .actions .btn-checkout,.mini-cart .actions .view-cart,.mini-cart .actions .view-cart:hover,#nav > li > a,#nav ul.level0 > li > a,#nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading,.totals h3,.crosssel h2,.cart-collaterals .col2-set h3,.page-title h1, .page-title h2,.products-grid .item .item-inner .item-info .info-inner .item-title a,.email-friend a,.block .block-title,.side-nav-categories .block-title,.block-account .block-title,.cat-img-title .cat-heading,.products-list .product-name a,.products-grid .actions button.button.btn-cart span,a.button.detail-bnt span,.product-view .new-label,.product-view .sale-label,.product-view .product-name h1,.product-view .short-description h2,.product-view .product-shop .add-to-links .link-wishlist,.product-view .product-shop .add-to-box .add-to-cart label,.product-view .product-shop .product-options-bottom .add-to-cart label,#customer-reviews .page-title h2,.tab-box .activeLink a,.tab-box a,.tab-box a:hover,.availability, .product-brand,.add-to-links span,.one-page-checkout .step-title .number,.one-page-checkout .active .step-title h3,.one-page-checkout .step-title h3,.one-page-checkout .active .step-title,.checkout-progress li,.page-title_multi h2,#wishlist-table .product-name,.login_page strong,#shopping-cart-table .product-name,#store-messages .message strong,footer h4,.our-features-box .feature-box,.new_title h2,.related-block .block-title,.up-sell-slider .block-title,.popular-block .block-title,.orange-slider .text,.right-side-content h2,#menu ul.navmenu .menutop h2,ul.topnav li a,.blog-title h2,.latest-news ul li h2,.latest-news a,.newsletter-sign-box h3,.light .intro-btn a,.caption .intro-btn a,.caption .heading,.caption.light1 .heading,.caption.light1 .badge,.pro-recommend .products-grid .actions button.button.btn-cart span,.pro-recommend .new_title h2,.pro-recommend  a.button.detail-bnt span,.newsletter-wrap button.subscribe,.jcarousel-skin-tango4 .products-grid .actions button.button.btn-cart span,.jcarousel-skin-tango4 a.button.detail-bnt span { font-family: '*/<?php //echo $config['font']; ?>/*',  sans-serif;  } */

/* update theme color */
.products-grid .actions button.button.btn-cart,.jcarousel-skin-tango4 .products-grid .actions button.button.btn-cart,.pro-recommend .products-grid .actions button.button.btn-cart,.button, .btn, .button-inverse, .button-vote, .sidebar .button, .sidebar .btn, .dropdown .dropdown-menu .button, .buttons-set .back-link a, .scrolltop, .button-tabs li a,.products-list .product-shop .btn-cart { background:<?php echo $config['color']; ?>; } 

<?php   if ( !empty($config['header_bg_color']) ) : ?>
header { background:<?php echo $config['header_bg_color']; ?> }
<?php endif; ?>
<?php if ( !empty($config['header_fg_color']) ) : ?>
header .welcome-msg,.toplinks div.links div a,.toplinks .links div .click-nav ul .clicker {color:<?php echo $config['header_fg_color']; ?>}
<?php endif; ?>
<?php if ( !empty($config['footer_bg_color']) ) : ?>
footer {background:<?php echo $config['footer_bg_color']; ?>}
<?php endif; ?>
<?php if ( !empty($config['footer_fg_color']) ) : ?>
footer h4, .social h4 {color:<?php echo $config['footer_fg_color']; ?>}
<?php endif; ?>
<?php if ( !empty($config['content_bg_color']) ) : ?>
body {background:<?php echo $config['content_bg_color']; ?>}
<?php endif;  ?>
</style>